arrow==1.2.3
asgiref==3.7.2
attrs==23.1.0
Babel==2.14.0
beautifulsoup4==4.12.2
binaryornot==0.4.4
boto3==1.34.73
botocore==1.34.73
Brotli==1.0.9
certifi==2023.7.22
cffi==1.15.1
chardet==5.2.0
charset-normalizer==3.2.0
click==8.1.7
colorama==0.4.6
cookiecutter==2.3.0
crispy-tailwind==0.5.0
cryptography==41.0.3
defusedxml==0.7.1
dj-database-url==2.0.0
Django==4.2.2
django-allauth==0.54.0
django-browser-reload==1.11.0
django-ckeditor==6.7.0
django-countries==7.5.1
django-crispy-forms==2.0
django-humanize==0.1.2
django-js-asset==2.1.0
django-phonenumber-field==7.3.0
django-rest-auth==0.9.5
django-seed==0.3.1
django-storages==1.13.2
django-taggit==4.0.0
django-tailwind==3.6.0
djangorestframework==3.14.0
EasyProcess==1.1
entrypoint2==1.1
exceptiongroup==1.1.2
Faker==19.2.0
gunicorn==21.2.0
h11==0.14.0
humanize==4.8.0
icalendar==5.0.8
idna==3.4
Jinja2==3.1.2
jmespath==1.0.1
markdown-it-py==3.0.0
MarkupSafe==2.1.3
mdurl==0.1.2
MouseInfo==0.1.3
mss==9.0.1
oauthlib==3.2.2
outcome==1.2.0
packaging==23.1
phonenumbers==8.13.30
Pillow==10.0.0
psycopg2==2.9.9
psycopg2-binary==2.9.6
PyAutoGUI==0.9.54
pychrome==0.2.4
pycparser==2.21
PyGetWindow==0.0.9
Pygments==2.16.1
PyJWT==2.8.0
PyMsgBox==1.0.9
pyperclip==1.8.2
PyRect==0.2.0
pyscreenshot==3.1
PyScreeze==0.1.29
PySocks==1.7.1
python-dateutil==2.8.2
python-dotenv==1.0.1
python-slugify==8.0.1
python3-openid==3.2.0
pytweening==1.0.7
pytz==2023.3
PyYAML==6.0.1
requests==2.31.0
requests-oauthlib==1.3.1
rich==13.5.2
s3transfer==0.10.1
selenium==4.10.0
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.4.1
sqlparse==0.4.4
text-unidecode==1.3
toposort==1.10
trio==0.22.2
trio-websocket==0.10.3
typing_extensions==4.7.1
tzdata==2023.3
urllib3==2.0.4
websocket-client==1.6.4
whitenoise==6.5.0
wsproto==1.2.0
