{% load static %}
{% load tailwind_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% tailwind_css %}

    <!--Favicon-->

    <!-- AlpineJS -->
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>

    <!--Boxicons-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">

    <!--JQuery-->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>

    
    {% block extra_head %}{% endblock extra_head %}
    <title>{% block title %}{% endblock title %}</title>
</head>

<body class="bg-gray-100 dark:bg-dark-main flex justify-center">

    {% block navbar %}{% endblock navbar %}
    <!--FOOTER-->

    {% block javascript %}{% endblock javascript %}
</body>
</html>