{% extends 'Sciences/base.html' %}
{% load static %}
{% load humanize %}

{% block title %}
    Inicio
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/social/community_home.css' %}">
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock %}

{% block header %}
<header>
    <div class="header-container">
        <div class="logo">
            <a href="{% url 'home' %}" id="change" class="logo-btn">
                <img src="{% static 'img/microscopio.png' %}" alt="Logo" class="logo-img">
                SciencesPath!
            </a>
        </div>
        <nav>
            <a href="{% url 'profile' request.user %}">Mi Perfil</a>
            <a href="#comunity">Comunidad</a>
            <a href="#questions">Preguntas Frecuentes</a>
            {% if user.is_authenticated %}
                <a href="{% url 'logout' %}">Cerrar Sesión</a>
            {% else %}
                <a href="{% url 'login' %}">Iniciar Sesión</a>
            {% endif %}
        </nav>
    </div>
</header>
{% endblock %}

{% block content %}
<div class="container">
    <!-- Barra Izquierda -->
    <div class="left-bar">
        <div class="card">
            <img class="card-img" src="{{ request.user.profile.image.url }}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">@{{ request.user }}</h5>
                <p class="card-text">{{ request.user.profile.bio }}</p>
                <h6 class="card-title font-weight-bold">
                    {{ request.user.profile.followers.count }} Followers
                    {{ request.user.profile.following.count }} Following
                </h6>
                <a href="{% url 'profile' request.user %}" class="profile-btn">Mi perfil</a>
            </div>
        </div>
        <div class="btn-container">
            <a href="{% url 'edit' %}" ><button class="btn-primary">Editar mi perfil</button></a>
        </div>
    </div>

    <!-- Centro -->
    <div class="center-bar">
        <!-- Formulario -->
        <form class="post-form" method="post", enctype="multipart/form-data">
            <p>{{ error }}</p>
            {% csrf_token %}
            {{ form.content }}
            {{ form.image }}
            <div class="btn-container">
                <button class="btn btn-primary" type="submit">Publicar</button>
            </div>
        </form>

        <!-- Posts -->
        <h3 class="posts-title">Últimas Publicaciones</h3>
        {% for post in posts %}
            <div class="post-card">
                <div class="post-header">
                    <img src="{{ post.user.profile.image.url}}" alt="User Image" class="user-img">
                    <div class="post-header-info">
                        <a href="{% url 'profile' post.user %}">
                            <span>@{{ post.user.username }}</span>
                        </a>
                        <span class="time-ago">{{ post.timestamp|naturaltime }}</span>
                    </div>
                    <div class="post-message">
                        <p>{{ post.content }}</p>
                    </div>
                    {% if post.image %}
                    <div class="post-message">
                        <img src="{{ post.image.url }}" alt="Post Image">
                    </div>
                    {% endif %}
                    <!-- DELETE -->
                    {% if request.user == post.user %}
                        <div class="trash">
                            <a href="{% url 'delete' post.id %}" style="background: white; border: none;">
                                <i class="fa fa-trash-o" style="color:#657786; font-size: 20px" aria-hidden="true"></i>
                            </a>
                        </div>
                    {% endif %}
                    <!-- END-DELETE -->
                </div>
            </div>
        {% endfor %}
    </div>

            <!-- Barra Derecha -->
            <div class="right-bar">
                <div class="top-users">
                    <h3>Usuarios a quien seguir:</h3>
                    {% comment %} <ul>
                        {% for user in top_users %}
                            {% if user != request.user and user.is_authenticated %} <!-- Para que solo muestre otros users -->
                                <li>
                                    <a href="{% url 'profile' user %}" class="user-link">
                                        <img src="{{ user.profile.image.url }}" class="user-img"><span class="user-name">{{ user.username }}</span>
                                    </a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul> {% endcomment %}
                </div>
                <div class="user-amount">
                    <h3>Este es tu saldo acutal en la aplicación:</h3>
                    {% comment %} <p>{{ user_balance }}€</p> {% endcomment %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}