{% extends 'Sciences/base.html' %}
{% load static %}
{% load humanize %}

{% block title %}
    Comunidad
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/social/community_home.css' %}">
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
{% endblock %}

{% block header %}
<header>
    <div class="header-container">
        <div class="logo">
            <a href="{% url 'home' %}" id="change" class="logo-btn">
                <img src="{% static 'img/microscopio.png' %}" alt="Logo" class="logo-img">
                SciencesPath!
            </a>
        </div>
        <nav>
            <a href="{% url 'profile' request.user %}">Mi Perfil</a>
            <a href="{% url 'community_home' %}">Comunidad</a>
            <a href="{% url 'index' %}">Asignaturas</a>
            {% if user.is_authenticated %}
                <a href="{% url 'logout' %}">Cerrar Sesión</a>
            {% else %}
                <a href="{% url 'login' %}">Iniciar Sesión</a>
            {% endif %}
        </nav>
    </div>
</header>
{% endblock %}

{% block content %}
<div class="container">
    <div id="followersModal" class="modal">
        <div class="modal-content">
            <span class="close1">&times;</span>
            <h2>Seguidores</h2>
            <ul class="user-list">
                {% for user in followers %}
                    <li>
                        <a href="{% url 'profile' user %}" class="user-link">
                            <img src="{{ user.profile.image.url }}" class="user-img"><span class="user-name">@{{ user.username }}</span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div id="followingModal" class="modal">
        <div class="modal-content">
            <span class="close2">&times;</span>
            <h2>Seguidos</h2>
            <ul class="user-list">
                {% for user in following %}
                    <li>
                        <a href="{% url 'profile' user %}" class="user-link">
                            <img src="{{ user.profile.image.url }}" class="user-img"><span class="user-name">@{{ user.username }}</span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <!-- Barra Izquierda -->
    <div class="left-bar">
        <div class="card">
            <img class="card-img" src="{{ request.user.profile.image.url }}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">@{{ request.user }}</h5>
                <p class="card-text">{{ request.user.profile.bio }}</p>
                <h6 class="card-title font-weight-bold">
                    <button type="submit" id="myBtn1" class="boton-portada3">
                        {{ request.user.profile.followers.count }} Seguidores
                    </button>
                    <button type="submit" id="myBtn2" class="boton-portada2">
                        {{ request.user.profile.following.count }} Seguidos
                    </button>
                </h6>
                <a href="{% url 'profile' request.user %}" class="profile-btn">Mi perfil</a>
            </div>
        </div>
        <div class="btn-container">
            <a href="{% url 'edit' %}" ><button class="btn-primary">Editar mi perfil</button></a>
        </div>
    </div>

    <!-- Centro -->
    <div class="center-bar">
        <!-- Formulario -->
        <div class="area-comentar">
            <div class="avatar">
                <img src="{{ request.user.profile.image.url }}" alt="img">
            </div>
            <form method="post" class="inputs-comentarios" enctype="multipart/form-data">
                <p>{{ error }}</p>
                {% csrf_token %}
                {{ form.content }}
                <div class="botones-comentar">
                    <div class="boton-subir-archivo">
                        <label class="boton-file" for="adjuntar">
                            <i class="far fa-image"></i>
                            Adjuntar archivo
                        </label>
                        {{ form.image }}
                    </div>
                    <button class="boton-enviar" type="submit">
                        <i class="fas fa-paper-plane"></i>
                        Publicar
                    </button>
                </div>
            </form>
        </div>
        </form>

        <!-- Posts -->
        <h3 class="posts-title">Últimas Publicaciones</h3>
        {% for post in posts %}
        <div class="publicacion-realizada">
            <div class="usuario-publico">
                <div class="avatar">
                    <img src="{{ post.user.profile.image.url }}" alt="img">
                </div>
                <div class="contenido-publicacion">
                    <span><a href="{% url 'profile' post.user %}" style="text-decoration: none;"><b>@{{ post.user.username }}</b></a> <small>{{ post.timestamp|naturaltime }}</small></span>
                </div>
                {% if request.user == post.user %}
                    <div class="menu-comentario">
                        <i class="fas fa-pen"></i>
                        <ul class="menu">
                            <li><a href="{% url 'delete' post.id %}">Eliminar</a></li>
                        </ul>
                    </div>
                {% endif %}
            </div>
            <p>{{ post.content }}</p>
            {% if post.image %}
                <div class="archivo-publicado">
                    <a href="{{ post.image.url }}" target="_blank">
                        <img src="{{ post.image.url }}" alt="img">
                    </a>
                </div>
            {% endif %}
            <div class="botones-comentario" data-post-id="{{ post.id }}">
                <button type="" class="boton-puntuar" 
                data-action="{% if post.id in likes %}unlike{% else %}like{% endif %}" 
                data-post-id="{{ post.id }}">
                    <i class="fas fa-thumbs-up like-icon" style="color: {% if post.id in likes %}blue{%else%}black{% endif %}"></i>
                    <span class="likes-count">{{ post.likes.count }}</span>
                </button>
                <button type="" class="boton-responder" data-post-id="{{ post.id }}">
                    Comentar
                </button>
                <div id="comment-form-container-{{ post.id }}" class="comment-form-container comentar-publicacion" style="display: none;">
                    <form action="{% url 'add_comment_to_post' post.id %}" method="post" enctype="multipart/form-data" class="comentar-comentario">
                        {% csrf_token %}
                        {{ comment_form.content }}
                        {% if comment_form.content.errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ comment_form.content.errors }}
                            </div>
                        {% endif %}
                        <button type="submit" class="boton-enviar"><i class="fas fa-paper-plane"></i></button>
                    </form>
                </div>
            </div>
        </div>
        <div class="comentarios-usuarios">
            <!-- comentario principal -->
            <div class="comentario-principal-usuario">
                <div class="comentario">
    
                    <!-- contenedor sub comentarios -->
                    <div class="contenedor-sub-comentarios">
                        {% for comentario in post.comments.all %}
                            <div class="comentario-principal-usuario">
                                <div class="avatar">
                                    <img src="{{ comentario.user.profile.image.url }}" alt="img">
                                </div>
                                <div class="comentario">
                                    <div class="usuario-comentario">
                                        <div class="texto">
                                            <a href="{% url 'profile' comentario.user %}" title="" class="nombre-usuario">{{ comentario.user.username }}</a> {{ comentario.content }}
                                            {% if request.user == comentario.user %}
                                                <div class="menu-comentario">
                                                    <i class="fas fa-pen"></i>
                                                    <ul class="menu">
                                                        <li><a href="{% url 'delete_comment' comentario.id %}">Eliminar</a></li>
                                                    </ul>
                                                </div>
                                            {% endif %}
                                        </div>
                                        <div class="botones-comentario">
                                            <span class="tiempo-comentario">
                                                {{ comentario.timestamp|naturaltime }}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

            <!-- Barra Derecha -->
            <div class="right-bar">
                <div class="top-users">
                    <h3>Otros Usuarios:</h3>
                    <ul>
                        {% for user in top_users %}
                            {% if user != request.user and user.is_authenticated %}
                                <li>
                                    <a href="{% url 'profile' user %}" class="user-link">
                                        <img src="{{ user.profile.image.url }}" class="user-img"><span class="user-name">@{{ user.username }}</span>
                                    </a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        document.querySelectorAll('.boton-responder').forEach(button => {
            button.addEventListener('click', function() {
                var postId = this.getAttribute('data-post-id');
                var formContainerId = 'comment-form-container-' + postId;
                var formContainer = document.getElementById(formContainerId);
                if (formContainer) {
                    // Alternar la visibilidad del formulario
                    if (formContainer.style.display === 'block') {
                        formContainer.style.display = 'none';
                    } else {
                        formContainer.style.display = 'block';
                    }
                }
            });
        });

        const likeButtons = document.querySelectorAll('.boton-puntuar');
    
        likeButtons.forEach(button => {
            button.addEventListener('click', function() {
                const postId = this.dataset.postId;
                const action = this.dataset.action;
                const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
                const likeIcon = this.querySelector('.like-icon');
    
                fetch('{% url "post_like" %}', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded',
                        'X-CSRFToken': csrftoken
                    },
                    body: `id=${postId}&action=${action}`
                })
                .then(response => response.json())
                .then(data => {
                    if (data.status === 'ok') {
                        const likesCount = this.querySelector('.likes-count');
                        const currentLikes = parseInt(likesCount.textContent);
    
                        if (action === 'like') {
                            this.dataset.action = 'unlike';
                            likesCount.textContent = currentLikes + 1;
                            likeIcon.style.color = 'blue';
                        } else {
                            this.dataset.action = 'like';
                            likesCount.textContent = currentLikes - 1;
                            likeIcon.style.color = 'black';
                        }
                    }
                })
                .catch(error => console.error('Error:', error));
            });
        });

        // Obtener los botones que abren los modales
        var followersBtn = document.getElementById('myBtn1');
        var followingBtn = document.getElementById('myBtn2');

        // Obtener los modales
        var followersModal = document.getElementById('followersModal');
        var followingModal = document.getElementById('followingModal');

        // Obtener los elementos <span> que cierran los modales
        var span1 = document.getElementsByClassName("close1")[0];
        var span2 = document.getElementsByClassName("close2")[0];

        // Función para abrir el modal de seguidores
        followersBtn.onclick = function() {
            followersModal.style.display = "block";
        }

        // Función para abrir el modal de seguidos
        followingBtn.onclick = function() {
            followingModal.style.display = "block";
        }

        // Función para cerrar los modales
        span1.onclick = function() {
            followersModal.style.display = "none";
        }
        span2.onclick = function() {
            followingModal.style.display = "none";
        }

        // Cierra los modales si el usuario hace clic fuera de ellos
        window.onclick = function(event) {
            if (event.target == followersModal) {
                followersModal.style.display = "none";
            }
            if (event.target == followingModal) {
                followingModal.style.display = "none";
            }
        }
    });
</script>
{% endblock content %}