{% extends 'Sciences/base.html' %}
{% load static %}

{% block title %}
    Editar Perfil
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/social/edit.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
{% endblock %}

{% block header %}
<header>
    <div class="header-container">
        <div class="logo">
            <a href="{% url 'home' %}" id="change" class="logo-btn">
                <img src="{% static 'img/microscopio.png' %}" alt="Logo" class="logo-img">
                SciencesPath!
            </a>
        </div>
        <nav>
            <a href="{% url 'profile' request.user %}">Mi Perfil</a>
            <a href="{% url 'community_home' %}">Comunidad</a>
            <a href="{% url 'index' %}">Asignaturas</a>
            {% if user.is_authenticated %}
                <a href="{% url 'logout' %}">Cerrar Sesión</a>
            {% else %}
                <a href="{% url 'login' %}">Iniciar Sesión</a>
            {% endif %}
        </nav>
    </div>
</header>
{% endblock %}

{% block content %}
<div class="container">
    <div class="formulario">

        <!-- Formulario -->
        <form class="col pr-0" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="user-img" onclick="document.getElementById('profileImageUpload').click();">
                <img src="{{ user.profile.image.url }}" alt="" class="avator">
            </div>
            {{ p_form.image }}
            <h3 class="edit-title">Edita tu Perfil</h3>
            {% if u_form.errors or p_form.errors or a_form.errors %}
                {{ u_form.errors }}
                {{ p_form.errors }}
                {{ a_form.errors }}
            {% endif %}
            
            <div class="accordion">
                <div class="accordion-item">
                    <a href="{% url 'password_change' %}" class="change-password">¿Cambiar contraseña?</a>
                    <button class="accordion-button accordion-button1" type="button">
                        <span class="accordion-button-text">Información Personal</span>
                        <i class="fas fa-chevron-down accordion-icon"></i>
                    </button>
                    <div class="accordion-content">
                        <div class="input-wrapper">
                            <label>Nombre</label>
                            {{ u_form.first_name }}
                        </div>
                        <div class="input-wrapper">
                            <label for="user-name-id">Username</label>
                            {{ u_form.username }}
                        </div>
                        <div class="input-wrapper">
                            <label>Número de Teléfono</label>
                            {{ p_form.phone_number }}
                        </div>
                        <div class="input-wrapper">
                            <label>Fecha de Nacimiento</label>
                            {{ p_form.birth_date }}
                        </div>
                        <div class="input-wrapper">
                            <label>Bio</label>
                            {{ p_form.bio }}
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <button class="accordion-button" type="button">
                        <span class="accordion-button-text">Actualiza tu Dirección</span>
                        <i class="fas fa-chevron-down accordion-icon"></i>
                    </button>
                    <div class="accordion-content">
                        <!-- Formulario de dirección -->
                        <div class="input-wrapper">
                            <label>Calle</label>
                            {{ a_form.street }}
                        </div>
                        <div class="input-wrapper">
                            <label>Número</label>
                            {{ a_form.number }}
                        </div>
                        <div class="input-wrapper">
                            <label>Piso</label>
                            {{ a_form.floor }}
                        </div>
                        <div class="input-wrapper">
                            <label>Puerta</label>
                            {{ a_form.door }}
                        </div>
                        <div class="input-wrapper">
                            <label>Ciudad</label>
                            {{ a_form.city }}
                        </div>
                        <div class="input-wrapper">
                            <label>País</label>
                            {{ a_form.country }}
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <button class="accordion-button" type="button">
                        <span class="accordion-button-text">Redes Sociales</span>
                        <i class="fas fa-chevron-down accordion-icon"></i>
                    </button>
                    <div class="accordion-content">
                        <div class="input-wrapper">
                            <label><i class="icon-linkedin fab fa-linkedin"></i> LinkedIn url</label>
                            {{ p_form.linkedin_url }}
                        </div>
                        <div class="input-wrapper">
                            <label><i class="icon-instagram fab fa-instagram"></i> Instagram url</label>
                            {{ p_form.instagram_url }}
                        </div>
                        <div class="input-wrapper">
                            <label><i class="icon-twitter fab fa-twitter"></i> Twitter url</label>
                            {{ p_form.twitter_url }}
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <button class="accordion-button" type="button">
                        <span class="accordion-button-text">Datos Universitarios</span>
                        <i class="fas fa-chevron-down accordion-icon"></i>
                    </button>
                    <div class="accordion-content">
                        <div class="input-wrapper">
                            <label for="id_is_student">¿Eres estudiante?</label>
                            {{ p_form.is_student }}
                        </div>
                        <div class="input-wrapper student-field">
                            <label>Universidad</label>
                            {{ p_form.university }}
                        </div>
                        <div class="input-wrapper student-field">
                            <label>Año</label>
                            {{ p_form.year }}
                        </div>
                        <div class="input-wrapper student-field">
                            <label>Email de la Universidad</label>
                            {{ p_form.university_email }}
                        </div>
                        <div class="input-wrapper student-field">
                            <label>¿Expediente público?</label>
                            <p><small>Cuando eres estudiante, tienes la funcionalidad de crear tu expediente. Esto lo hará público para el resto de usuarios</small></p>
                            {{ p_form.is_expediente_public }}
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn primary-btn">Actualizar</button>
        </form>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Seleccionar el checkbox de is_student y los contenedores de los otros campos
        const isStudentCheckbox = document.getElementById('id_is_student');
        const studentFields = document.querySelectorAll('.student-field');
    
        // Función para mostrar/ocultar campos basados en el checkbox
        function toggleStudentFields() {
            studentFields.forEach(field => {
                field.style.display = isStudentCheckbox.checked ? 'block' : 'none';
            });
        }
    
        // Event listener para el cambio de checkbox
        if (isStudentCheckbox) { // Verifica si el checkbox existe para evitar errores
            isStudentCheckbox.addEventListener('change', toggleStudentFields);
    
            // Llamar a la función al cargar la página para establecer el estado inicial
            toggleStudentFields();
        }
    
        // Código para manejar los acordeones
        var acc = document.getElementsByClassName("accordion-button");
        for (var i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.display === "block") {
                    content.style.display = "none";
                } else {
                    content.style.display = "block";
                }
            });
        }

        document.getElementById('profileImageUpload').onchange = function(event) {
            if (event.target.files.length > 0) {
                const src = URL.createObjectURL(event.target.files[0]);
                const avatar = document.querySelector('.avator');
                avatar.src = src;
            }
        };

        var birthDateValue = "{{ birth_date|date:'Y-m-d' }}";
        var birthDateInput = document.querySelector('#id_birth_date');
        if (birthDateInput && birthDateValue) {
            birthDateInput.value = birthDateValue;
        }
    });
</script>
{% endblock %}