{% extends 'Sciences/base.html' %}
{% load static %}

{% block title %}
    {{ subject.name }}
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/detail.css' %}">
{% endblock %}

{% block header %}
    <header>
        <div class="header-container">
            <div class="logo">
                <a href="{% url 'home' %}" id="change" class="logo-btn">
                    <img src="{% static 'img/microscopio.png' %}" alt="Logo" class="logo-img">
                    SciencesPath!
                </a>
            </div>
            <nav>
                <a href="{% url 'profile' request.user %}">Mi Perfil</a>
                <a href="{% url 'community_home' %}">Comunidad</a>
                <a href="{% url 'index' %}">Asignaturas</a>
                {% if user.is_authenticated %}
                    <a href="{% url 'logout' %}">Cerrar Sesión</a>
                {% else %}
                    <a href="{% url 'login' %}">Iniciar Sesión</a>
                {% endif %}
            </nav>
        </div>
    </header>
{% endblock %}

{% block content %}
<div class="container">
    <div class="title">
        <h1>{{ subject.name }}</h1>
        <div class="buttons">
            <a class="btn-primary" href="{{ subject.subject_url }}" target="_blank">Ver Guía Docente</a>
            <a class="btn-primary" href="{% url 'horario' subject.id %}" target="_blank">Ver Horario</a>
        </div>
    </div>
    <div class="columns-container">
        <div class="left-column">
            <p><strong>Universidad:</strong> {{ subject.university }}</p>
            <p><strong>Grado:</strong> {{ subject.degree }}</p>
            <p><strong>Código:</strong> {{ subject.subject_key }}</p>
            <p><strong>Requisitos previos:</strong> {{ subject.previous_requirements }}</p>
        </div>
        <div class="right-column">
            <p><strong>Idioma:</strong> {{ subject.language }}</p>
            <p><strong>Curso:</strong> {{ subject.year }}</p>
            <p><strong>Cuatrimestre:</strong> {{ subject.semester }}</p>
            <p><strong>Créditos:</strong> {{ subject.credits }}</p>
            <p><strong>Coordinador/a:</strong> {{ subject.coordinator }}</p>
        </div>
    </div>
    <div class="centered-content">
        <h2>Programa</h2>
        <p>{{ subject.content|linebreaksbr }}</p>
    </div>
    
    <div class="container">
        <div class="rating-area">
            <h2>Valoraciones y Reseñas</h2>
            <div class="avg_rating">
                <p>
                    {% if avg_rating == 0.0 %}
                    <span> Sin Valorar </span>
                    {% else %}
                        {{ avg_rating }}
                    {% endif %}
                </p>
                <div class="rating">
                    <div class="stars-outer">
                        <div class="stars-inner"></div>
                    </div>
                </div>
            </div>
            <button class="btn-primary" id="show-review-form">Valorar</button>
            <form method="post" style="display: none;">
                {% csrf_token %}
                <label for="rating">Tu valoración:</label>
                <p class="clasificacion">
                    <input id="radio1" type="radio" name="rating" value="5">
                    <label class="star" for="radio1">★</label>
                    <input id="radio2" type="radio" name="rating" value="4">
                    <label class="star" for="radio2">★</label>
                    <input id="radio3" type="radio" name="rating" value="3">
                    <label class="star" for="radio3">★</label>
                    <input id="radio4" type="radio" name="rating" value="2">
                    <label class="star" for="radio4">★</label>
                    <input id="radio5" type="radio" name="rating" value="1">
                    <label class="star" for="radio5">★</label>
                </p>
                <label for="comment">Tu comentario:</label>
                <textarea name="comment" id="comment"></textarea>
                <button type="submit">Enviar</button>
            </form>
            <div class="faqs">
                {% with user_review=None %}
                    {% for review in ratings %}
                        {% if review.user == request.user %}
                            {% with user_review=review %}
                                <div class="faq">
                                    <div class="question">
                                        <img src="{{ user_review.user.profile.image.url }}" alt="{{ user_review.user.username }}">
                                        <div class="user-info">
                                            <a class="link1" href="{% url 'profile' user_review.user %}">
                                                <p>{{ user_review.user.username }}</p>
                                            </a>
                                        </div>
                                        <div class="stars">
                                            {% for i in rating_range %}
                                                <span class="star2{% if i <= user_review.rating %} active{% endif %}">&#9733;</span>
                                            {% endfor %}
                                        </div>
                                        <a href="{% url 'delete_review' user_review.id subject.id %}" style="margin-left:10px; background: #353535; border: none; display: block;">
                                            <i class="fa fa-trash-o" style="color:#fff; font-size: 32px"></i>
                                        </a>
                                    </div>
                                    <div class="answer">
                                        <p>{{ user_review.comment }}</p>
                                    </div>
                                </div>
                            {% endwith %}
                        {% endif %}
                    {% endfor %}
                {% endwith %}
                {% for review in ratings %}
                    {% if review.user != request.user %}
                        {% if forloop.counter < 5 %}
                            <div class="faq">
                                <div class="question">
                                    <img src="{{ review.user.profile.image.url }}" alt="{{ review.user.username }}">
                                    <div class="user-info">
                                        <a class="link1" href="{% url 'profile' review.user %}">
                                            <p>{{ review.user.username }}</p>
                                        </a>
                                    </div>
                                    <div class="stars">
                                        {% for i in rating_range %}
                                            <span class="star2{% if i <= review.rating %} active{% endif %}">&#9733;</span>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="answer">
                                    <p>{{ review.comment }}</p>
                                </div>     
                            </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}

                {% if ratings|length > 4 %}
                    <button id="ver-mas" class="btn-primary" style="margin-top: 10px;">Ver Más</button>
                {% endif %}

                {% for review in ratings %}
                    {% if forloop.counter > 4 %}
                        {% if review.user != request.user %}
                            <div class="faq" style="display: none;">
                                <div class="question">
                                    <img src="{{ review.user.profile.image.url }}" alt="{{ review.user.username }}">
                                    <div class="user-info">
                                        <a class="link1" href="{% url 'profile' review.user %}">
                                            <p>{{ review.user.username }}</p>
                                        </a>
                                    </div>
                                    <div class="stars">
                                        {% for i in rating_range %}
                                            <span class="star2{% if i <= review.rating %} active{% endif %}">&#9733;</span>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="answer">
                                    <p>{{ review.comment }}</p>
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="container">
        <h2 class="material-title">Apuntes de la asignatura</h2>
        <div class="material">
            <p>Consulta si alguien ha subido previamente algún tipo de material para la asignatura
            o sube tu el tuyo para ayudar a tus compañeros pulsando en el siguiente botón.</p>
            <a href="{% url 'upload_material' subject.id %}" target="blank_" class="btn-primary">Material</a>
        </div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const showReviewButton = document.getElementById("show-review-form");
        const reviewForm = document.querySelector("form");

        showReviewButton.addEventListener("click", function () {
            // Muestra el formulario cuando se hace clic en el botón
            reviewForm.style.display = "block";
        });
    });
</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const verMasButton = document.getElementById("ver-mas");
        const valoracionesAdicionales = document.querySelectorAll(".faq:nth-child(n+6)");
    
        verMasButton.addEventListener("click", function () {
            // Muestra las valoraciones adicionales
            valoracionesAdicionales.forEach(function (valoracion) {
                valoracion.style.display = "block";
            });
    
            // Oculta el botón "Ver Más" después de mostrar todas las valoraciones
            verMasButton.style.display = "none";
        });
    });
</script>
<script>
    const starPercentageRounded = {{ avg_rating_percentage_rounded }};
    document.querySelector('.stars-inner').style.width = starPercentageRounded + "%";
</script>
<script src="{% static 'js/faq.js' %}"></script>
<script src="https://kit.fontawesome.com/f2b3d089f6.js" crossorigin="anonymous"></script>
{% endblock %}
