{% extends 'Sciences/base.html' %}
{% load static %}

{% block title %}
    Asignaturas
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block header %}
    <header>
        <div class="header-container">
            <div class="logo">
                <a href="{% url 'home' %}" id="change" class="logo-btn">
                    <img src="{% static 'img/microscopio.png' %}" alt="Logo" class="logo-img">
                    SciencesPath!
                </a>
            </div>
            <nav>
                <a href="{% url 'profile' request.user %}">Mi Perfil</a>
                <a href="#comunity">Comunidad</a>
                <a href="#questions">Preguntas Frecuentes</a>
                {% if user.is_authenticated %}
                    <a href="{% url 'logout' %}">Cerrar Sesión</a>
                {% else %}
                    <a href="{% url 'login' %}">Iniciar Sesión</a>
                {% endif %}
            </nav>
        </div>
    </header>
{% endblock %}

{% block content %}
    <div class="container2">
        <h1>Consulta de Asignaturas.</h1>
        <form id="search-form" class="search" action="{% url 'index' %}#content-column" method="GET">
            <input type="text" name="search" class="search-bar" placeholder="Buscar asignatura..." value="{{ search_query }}">
            <input type="submit" value="Buscar" class="search-btn">
        </form>
        <div class="see-all">
            <a href="{% url 'index' %}#content-column">
                <button class="btn-primary">Ver todas</button>
            </a>
        </div>
        <div class="content-wrapper">
            <div class="filter-column">
                <h2>Filtrar Asignaturas:</h2>
                <form id="filter-form" class="filter-form" action="{% url 'index' %}#content-column" method="GET">
                    <!-- Campo oculto para la consulta de búsqueda -->
                    {% comment %} <input type="hidden" name="search_filter" value="{{ search_query }}"> {% endcomment %}
                    {{ filter_form.as_p }}
                    <input type="submit" value="Aplicar Filtros" class="filter-btn">
                </form>
            </div>
            <div id="content-column" class="content-column">
                <div class="table-container">
                    <table class="subject-table">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Grado</th>
                                <th>Curso</th>
                                <th>Cuatrimestre</th>
                                <th>Universidad</th>
                                <th>Créditos</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for subject in page_subjects %}
                                <tr class="table-row" onclick="window.location='{% url 'detail' subject.id %}'">
                                    <td>{{ subject.name }}</td>
                                    <td>{{ subject.degree }}</td>
                                    <td>{{ subject.year }}</td>
                                    <td>{{ subject.semester}}</td>
                                    <td>{{ subject.university }}</td>
                                    <td>{{ subject.credits }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="subject-list">
                    <ul class="list">
                        {% for subject in page_subjects %}
                            <a href="{% url 'detail' subject.id %}">
                                <li>
                                    <span class="subject-name">{{ subject.name }}</span>
                                    <span class="university-name">{{ subject.university }}</span>
                                </li>
                            </a>
                        {% endfor %}
                    </ul>
                </div>
                <div class="pagination">
                    {% if page_subjects.has_previous %}
                        <a href="?{{ form_data.urlencode }}&page=1">Primera</a>
                        <a href="?{{ form_data.urlencode }}&page={{ page_subjects.previous_page_number }}">Anterior</a>
                    {% endif %}
                    <span class="current-page">{{ page_subjects.number }}</span>
                    {% if page_subjects.has_next %}
                        <a href="?{{ form_data.urlencode }}&page={{ page_subjects.next_page_number }}">Siguiente</a>
                        <a href="?{{ form_data.urlencode }}&page={{ page_subjects.paginator.num_pages }}">Última</a>
                    {% endif %}
                </div>                                       
            </div>
        </div>
    </div>
    <script type="text/javascript">
        document.getElementById('search-form').addEventListener('submit', function() {
            var searchValue = document.querySelector('.search-bar').value;
            var hiddenSearchInput = document.querySelector('.filter-form input[type="hidden"][name="search_filter"]');
            if (hiddenSearchInput) {
                hiddenSearchInput.value = searchValue;
            }
        });

        // Selecciona ambos formularios
        var searchForm = document.getElementById('search-form');
        var filterForm = document.getElementById('filter-form');
    
        function submitForms(event) {
            // Previene el envío normal del formulario
            event.preventDefault();
    
            // Obtiene los datos de ambos formularios
            var searchFormData = new FormData(searchForm);
            var filterFormData = new FormData(filterForm);
    
            // Crea los parámetros de la URL
            var params = new URLSearchParams();
    
            // Añade los parámetros de la búsqueda
            for (var pair of searchFormData.entries()) {
                if (pair[1]) {
                    params.set(pair[0], pair[1]);
                }
            }
    
            // Añade los parámetros de los filtros
            for (var pair of filterFormData.entries()) {
                if (pair[1]) { // Solo añade si el filtro tiene un valor
                    params.set(pair[0], pair[1]);
                }
            }
    
            // Realiza la petición al servidor con todos los parámetros
            window.location.href = '{% url 'index' %}?' + params.toString();
        }
    
        // Evento de envío para el formulario de búsqueda
        searchForm.addEventListener('submit', submitForms);
    
        // Evento de envío para el formulario de filtros
        filterForm.addEventListener('submit', submitForms);
    </script>
{% endblock %}
