.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 90px;
    background-color: #353535;
    width: 100%;
    max-width: 1200px;
}

.title {
    text-align: center;
    margin-bottom: 20px;
}

.title h1 {
    color: #fff;
}

.columns-container {
    display: flex;
    justify-content: space-between;
    width: 70%;
}

.columns-container p strong,
.columns-container p{
    color: #fff;
}

.left-column, .right-column {
    flex-basis: 28%;
}

.centered-content {
    margin-top: 20px;
    width: 70%;
}

.centered-content h2 {
    text-align: center;
    color: #fff;
}

.centered-content p {
    color: #fff;
}

.guide-link {
    display: block;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
    background-color: #008037;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
}

.guide-link:hover {
    background-color: #015f2a;
}

.container p strong {
    font-weight: bold;
    font-size: 18px; 
    margin-bottom: 5px; 
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons a {
    margin: 5px;
}

.rating-area {
    display: flex;
    margin-top: 0;
    flex-direction: column;
    margin-bottom: 50px;
    text-align: center;
    align-items: center;
    width: 70%;
}

.rating-area h2 {
    color: #fff;
    margin: 0;
    margin-top: 30px;
    padding: 0;
}

.rating-area button {
    width: 20%;
    margin-bottom: 30px;
}

.rating {
    display: flex;
    align-items: center;
    color: #ffd700; 
    font-size: 36px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.avg_rating p {
    font-size: 36px;
    margin: 10px 0;
    color: #fff;
    font-weight: bold;
}

.rating-area p {
    color: #fff;
}

.stars-outer {
    display: inline-block;
    position: relative;
    font-family: FontAwesome;
    color: #fff;
}

.stars-outer::before {
    content: "\f006 \f006 \f006 \f006 \f006";
    color: #fff;
}

.stars-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    font-family: FontAwesome;
}

.stars-inner::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    color: #ffd700;
}

.stars-outer2 {
    display: inline-block;
    position: relative;
    font-family: FontAwesome;
    color: #fff;
}

.stars-outer2::before {
    content: "\f006 \f006 \f006 \f006 \f006";
    color: #fff;
}

.stars-inner2 {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    font-family: FontAwesome;
}

.stars-inner2::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    color: #ffd700;
}

p span {
    font-size: 24px;
    color: #fff;
}

form {
    display: none;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

label[for="rating"],
label[for="comment"] {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

select[name="rating"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

textarea[name="comment"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.star{ color:grey;}
input[type = "radio"]{ display:none;}

.clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
}

.star:hover,
.star:hover ~ label{
    color:#ffd700;
}
input[type = "radio"]:checked ~ label{color:#ffd700;}

button[type="submit"] {
    background-color: #008037;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    width: 100%;
    margin-top: 10px;
}

button[type="submit"]:hover {
    background-color: #00672e;
}

.container {
    max-width: none;
}

.faqs {
    display: flex; 
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    align-content: stretch;
    width: 70%;
}

.faq {
    margin-top: 2rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid #fff;
    cursor: pointer;
    display: flex; 
    flex-direction: column; 
    align-items: center;
    width: 100%;
}

.question {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; 
}

.link1{
    margin-top: 1px;
    text-decoration: none;
}

.question img {
    width: 50px; 
    height: 50px;
    border-radius: 50%; 
    margin-right: 10px;
}

.user-info {
    display: flex;
    align-items: center;
    flex: 1;
}

.user-info p {
    margin: 0;
    color: #fff;
}

.stars {
    display: flex;
    justify-content: center;
    align-items: center;
}

.link2 {
    margin-bottom: 0;
    padding-bottom: 0;
    display: inline-block;
    margin-left: 15px;
}

.star2 {
    margin: 0;
    font-size: 32px;
    color: #fff;
}

.star2.active {
    color: #ffd700;
}

.answer {
    padding-top: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.8s ease-in-out;
    width: 100%; 
    margin-top: 20px;
}

.answer p{
    line-height: 1.6;
    color: #fff;
    margin: 0;
}

.faq.active .answer {
    max-height: 300px;
    animation: fade 0.5s ease-in-out;
}

.faq.active svg {
    transform: rotate(180deg);
}

svg {
    color: #fff;
    margin-left: 10px;
    transition: transform 0.5s ease-in;
}

footer {
    width: 100%;
    background-color: #333333;
    padding: 0;
    margin-top: 75px;
    border-top: 1px solid black;
}

footer .container {
    max-width: none;
    margin-top: 0;
}

@media (max-width: 720px) {
    .container {
        margin-top: 0px;
    }

    .faq {
        margin-bottom: 0;
    }
    .question {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .question img {
        margin-right: 0;
    }

    .question p {
        margin-top: 3px;
    }

    svg {
        display: none;
    }

    .question a {
        margin-left: 0px;
    }

    .rating-area button {
        width: 60%;
    }

    .question a {
        margin-top: 3px;
    }
}

