body {
    background-color: #353535;
}

header {
    z-index: 10;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 90px;
    background-color: #353535;
    width: 100%;
    max-width: 1200px;
}

.container h1 {
    color: #fff;
    text-align: center;
}

/* Estilo del fondo */
#calendar {
    width: 95%;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15); /* Sombra suave */
}

/* Estilos para los eventos */
.fc-event {
    cursor: pointer;
    background-color: #007bff; /* Color de fondo para los eventos */
    color: #ffffff; /* Color del texto en los eventos */
    border: 1px solid #0056b3; /* Borde de los eventos */
    border-radius: 3px;
}

/* Estilos para los eventos al pasar el cursor */
.fc-event:hover {
    background-color: #0056b3; /* Color de fondo al pasar el cursor */
    border: 1px solid #00387a; /* Borde al pasar el cursor */
}


footer {
    width: 100%;
    background-color: #333333;
    padding: 0;
    margin-top: 75px;
    border-top: 1px solid black;
}

footer .container {
    max-width: none;
    margin-top: 0;
}

@media (max-width: 720px) {
    .container {
        margin-top: 0px;
    }
}