:root {
    --color-primary: #008037;
    --color-text: #fff;
    --font-main: Fruta;
    --font-text: Cafe;
    --background-dark: #353535;
}

/* Main settings */
* {
    box-sizing: border-box;
    font-family: var(--font-text);
    color: var(--color-text);
}

@font-face {
    font-family: Cafe;
    src: url(../fonts/LouisGeorgeCafe.ttf);
}

@font-face {
    font-family: Fruta;
    src: url(../fonts/FRESHFRUITPERSONALUSE-SVG.otf);
}

.container4 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin-top: 90px;
    background-color: var(--background-dark); /* Fondo oscuro */
    color: var(--color-text);
    padding-bottom: 30px;
}

.container3 {
    min-height: none;
    margin-top: 0;
    padding-bottom: 0;
}

.container h1 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 100px;
}

.content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-left: 50px;
}

/* Estilos para el formulario de filtrado */
.filter-column {
    text-align: center;
    width: 30%;
    padding: 20px;
    background-color: #414040;
    border-radius: 10px;
    border: #000 solid 2px;
    margin-right: 20px; /* Agrega espacio a la derecha */
}

.filter-column h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

.filter-column label {
    display: block;
    margin-bottom: 5px;
    color: var(--color-text);
}

.filter-column select,
.filter-column input {
    width: 100%;
    padding: 8px;
    border: none;
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--color-text);
    border-radius: 5px;
    margin-bottom: 15px;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.filter-column select option {
    background-color: var(--background-dark); /* Fondo oscuro */
    color: var(--color-text);
}

.filter-btn {
    background-color: var(--color-primary);
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.filter-btn:hover {
    background-color: #00672e;
}

.content-column {
    width: 68%; /* Ajusta según tus necesidades */
    /* Resto de tus estilos */
}

/* Estilos para el formulario */
form.search {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    width: 50%;
}

/* Estilos para el campo de búsqueda */
form.search .search-bar {
    padding: 10px 15px;
    border: 2px solid #fff;
    background-color: transparent;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    max-width: 40em;
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--color-text); 
}

form.search .search-bar::placeholder {
    color: var(--color-text);
}

/* Estilos para el botón de búsqueda */
form.search .search-btn {
    padding: 10px 20px;
    margin-left: 10px;
    background-color: #008037;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: auto;
    transition: background-color 0.3s ease;
}

form.search .search-btn:hover {
    background-color: #00672e;
}

.see-all {
    width: 30%;
}

.btn-primary {
    margin-top: 30px;
    margin-bottom: 40px;
    width: 100%;
}

.table-container {
    width: 80%;
    overflow-x: auto; /* Agrega scroll horizontal si la tabla es muy ancha */
}

.subject-table {
    width: 100%;
    border-collapse: collapse;
}

.subject-table th,
.subject-table td {
    padding: 10px;
    text-align: left;
}

.subject-table th {
    background-color: #fff;
    color: var(--background-dark);
}

.subject-table tr {
    border-radius: 2px;
    background-color: var(--background-dark);
    color: var(--color-text);
}

.subject-table tbody tr:hover {
    cursor: pointer;
    background-color: #008037;
    border: 2px solid #444654;
}

.subject-name {
    font-weight: bold;
}

.university-name {
    margin-left: auto;
}

a {
    text-decoration: none;
    color: inherit;
}

.subject-list {
    display: none;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination a {
    margin: 0 5px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s ease, color 0.3s ease;
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--color-text); 
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.pagination a:hover {
    background-color: #008037;
    color: #fff;
}

.pagination .current-page {
    margin: 0 5px;
    padding: 5px 10px;
    background-color: #008037;
    color: #fff;
    border-radius: 3px;
}

@media (min-width:720px) {
    .container4 h1 {
        text-align: center;
    }
}

@media (max-width: 720px) {
    .container4 {
        margin-top: 0px;
    }

    .container4 h1 {
        text-align: center;
    }

    .table-container {
        display: none;
    }

    .subject-list {
        display: block;
        list-style: none; 
        padding: 0; 
        margin: 0;
        width: 90%;
        text-align: center;
    }

    .subject-list a {
        text-decoration: none;
        display: block;
        padding: 10px;
        border: 1px solid #ccc;
        margin-bottom: 5px;
        border-radius: 5px;
    }

    .subject-list a:hover {
        background-color: #008037; 
        color: #fff; 
    }

    .subject-name {
        display: block;
    }

    .university-name {
        margin-top: 3px;
        display: block;
    }
}

/* Estilos para pantallas más pequeñas (ancho máximo de 1230px) */
@media (max-width: 1230px) {
    .content-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-left: 0px;
    }

    .filter-column {
        padding: 0px;
        margin-bottom: 20px;
        width: 90%;
        margin-right: 0px;
    }

    .filter-column h2 {
        margin-bottom: 5px;
    }

    .filter-column label {
        margin-bottom: 2px;
    }

    .filter-column select,
    .filter-column input {
        width: calc(50% - 30px);;
        padding: 3px;
        margin-bottom: 5px;
    }

    .filter-form {
        margin-bottom: 5px;
    }

    .filter-form p {
        padding-left: 0px;
        margin: 8px;
    }

    .content-column {
        width: 90%;
    }
    
    .table-container {
        width: 100%;
    }
}





