:root {
    --color-primary: #008037;
    --color-text: rgb(0,0,0);
    --font-main: Fruta;
    --font-text: Cafe;
}

/* Main settings */
* {
    box-sizing: border-box;
    font-family: var(--font-text);
    color: var(--color-text);
}

@font-face {
    font-family: Cafe;
    src: url(../fonts/LouisGeorgeCafe.ttf);
}

@font-face {
    font-family: Fruta;
    src: url(../fonts/FRESHFRUITPERSONALUSE-SVG.otf);
}

h1{
    font-family: var(--font-main);
}

h1 { font-size:  3.5em;}
h2 { font-size:  2.7em; font-weight: bold;}
h3 { font-size:  2em;}
h4 { font-size:  1.7em;}
p { font-size:  1.25em;}
ul { list-style: none;}

.color-path {
    color: var(--color-primary);
}
/* End main settings */

/* Global Styles */
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.row {
    margin-top: 0px;
    z-index: 10;
}

.alert-dismissible {
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
    position: relative;
    box-sizing: border-box;
}

.success-alert {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.error-alert {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.info-alert {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.warning-alert {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.close-alert {
    color: #000;
    float: right;
    font-size: 20px;
    font-weight: bold;
    line-height: 1;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
}

.close-alert:hover {
    color: #999;
}
/* Header */
header {
    background-color: var(--color-primary);
}

.container {
    margin: auto;
    max-width: 1200px;
}

.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-btn {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    font-weight: bold;
    color: #fff;
    font-size: 1.5em;
    cursor: pointer;
    text-decoration: none;
    border-radius: 10px;
    font-family: var(--font-main);
}

.logo-btn:hover {
    background-color: #f1f1f1;
    color: #555; 
}

.logo img {
    width: 40px;
    height: 40px;
    margin-right: 5px;
}

header nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 20px;
}

header nav a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: bold;
    margin: 5px;
}

header nav a:hover {
    text-decoration: underline;
}

/* Bienvenida */
#welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 95vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)
    )
    ,url("../img/atomo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#welcome h1{
    color: white;
    font-weight: bold;
}

#welcome p{
    color: white;
    font-weight: bold;
    padding: 0px 30px;
}

.btn-primary {
    text-decoration: none;
    font-size: 1.25em;
    font-weight: bold;
    padding: 10px 30px;
    border: rgba(0,0,0,0.5) solid 1px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    background-color: var(--color-primary);
    color: #fff;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #015827;
}

/*=============== About Us ===============*/
.AboutUs__section h1 {
    text-align: center;
}

.AboutUs__section .card {
    font-family: 'poppins';
}

.AboutUs__section .card h2 {
    font-family: 'poppins';
}

.about-wrapper {
    padding: 5% 8%;
}

.AboutUs__section .about {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.AboutUs__section .cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
}

.AboutUs__section .card {
    height: 450px;
    width: 370px;
    background-color: #00441e;
    padding: 3% 8%;
    border: 2px solid #00f369;
    border-radius: 9px;
    transition: .6;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.AboutUs__section .card:after{
    content: "";
    position: absolute;
    top: 150%;
    left: -200px;
    width: 120%;
    transform: rotate(50deg);
    background-color: #fff;
    height: 18px;
    filter: blur(30px);
    opacity: 0.5;
    transition: 1s;
}
.AboutUs__section .card:hover:after{
    width: 225%;
    top: -100%;
}

.AboutUs__section .card i{
    color: #daac74;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: var(--biggest-font-size);
}

.AboutUs__section .card h2{
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
}

.AboutUs__section .card p {
    text-align: left;
    width: 100%;
    margin: 12px 0;
    color: rgba(255, 255, 255, 0.877);
}
  
.AboutUs__section .card:hover{
    transform: translateY(-8px);
    border-color: #f8e8d4;
}
  
.AboutUs__section .card:hover i{
    color: #b38042;
}

/* Más información */
#information {
    background-color: #2b2a2a;
    text-align: center;
}

#information .container {
    padding: 100px 12px;
}

#information h2 {
    margin-top: 0;
    color: white;
    font-size:  3.5em;
}

#information h3 {
    color: white;
    font-weight: bold;
}

#information p {
    display: none;
}

.carta-1 {
    margin: 25px;
    padding: 30px 10px;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.6),
        rgba(0,0,0,0.6)
    )
    ,url("../img/campus-cantoblanco.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 10px;
}

.carta-2 {
    margin: 25px;
    padding: 30px 10px;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.6),
        rgba(0,0,0,0.6)
    )
    ,url("../img/campus-uab.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 10px;
}

.carta-3 {
    margin: 25px;
    padding: 30px 10px;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.6),
        rgba(0,0,0,0.6)
    )
    ,url("../img/campus-uc3m.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 10px;
}

/* Footer */
footer {
    width: 100%;
    background-color: #333333;
    padding-top: 5px;
    margin-top: 75px;
    border-top: 1px solid black;
}

footer .container {
    max-width: none;
    margin-top: 0;
}

footer .group-1 {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
}

footer .group-1 .box p{
    margin: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
footer .group-1 .box span{
    color: var(--color-primary)
}

footer .group-1 .box img {
    justify-content: space-between;
    width: 4em;
    height: 4em;
    border-radius: 5px;
}

footer .group-1 .box h4 {
    color: #fff;
    margin: 5px;
}

footer .group-2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
    background-color: #2b2a2a;
}

footer small {
    color: #fff;
}

footer .group-2 small, footer .group-2 b, footer .group-2 a{
    color: #fff;
}

footer .group-2 a:hover{
    color: #ffffffcb;
}

/* Responsive */
@media (min-width:720px) {
    .row {
        margin-top: 90px;
        z-index: 10;
    }

    header {
        position: fixed;
        width: 100%;
        z-index: 1;
    }

    .header-container {
        flex-direction: row;
        justify-content: space-between;
        padding: 10px;
    }

    header nav {
        flex-direction: row;
        padding-bottom: 0px;
        padding-right: 20px;
    }

    header nav a {
        margin-right: 25px;
    }

    #welcome {
        padding: 5em;
    }

    #welcome h1{
        font-size: 4.5em;
    }
    
    #welcome p{
        font-size: 1.5em;
    }

    .AboutUs__section .cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }

    #history:hover::before,
    #mission:hover::before {
        opacity: 0;
        cursor: initial;
    }

    #history,
    #mission {
        padding: 15px;
        width: 100%;
    }

    #information {
        padding: 100px 5em;
    }

    footer .group-2{
        width: 100%;
    }
}

@media (min-width:1200px) {
    .AboutUs__section .cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }
}