{% autoescape off %}
Hola {{ user.username }},

Hemos recibido una petición para recuperar la contraseña de tu cuenta. Para iniciar el proceso, por favor haga click en este enlace:

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Este link solo puede ser usado una vez. Si necesitas volver a recuperar tu contraseña, por favor, visita {{ protocol }}://{{ domain }} y solicite recuperarla de nuevo.

Si no has solicitado recuperar la contraseña, puedes simplemente ignorar este email.

Si tiene cualquier problema, conteste a este correo o póngase en contacto, escribiendo a sciences.paths@gmail.com.
{% endautoescape %}