{% extends 'Sciences/base.html' %}

{% block content %}
  <div class="container">
    <div class="about-header">
      <h1>About Us</h1>
      <p>¡Bienvenidos a nuestro sitio web! Somos un equipo de científicos e investigadores apasionados dedicados a explorar las maravillas del mundo natural. Nuestra misión es compartir nuestro conocimiento y descubrimientos con el mundo, inspirando a otros a unirse a nosotros en la búsqueda del conocimiento y la comprensión.</p>
    </div>

    <div class="about-content">
      <div class="about-section">
        <h2>Our Story</h2>
        <p>Nuestra travesía comenzó hace varios años cuando un grupo de personas afines se unió con una visión compartida: desentrañar los misterios de la vida y el universo. Comenzamos pequeños, realizando experimentos en nuestros laboratorios universitarios, pero nuestra pasión y dedicación nos llevaron rápidamente a embarcarnos en ambiciosos proyectos de investigación.</p>
        <p>A lo largo de los años, nuestro equipo ha crecido y nuestra investigación nos ha llevado a rincones remotos del mundo. Desde estudiar la biodiversidad de las selvas tropicales hasta desentrañar los secretos de los ecosistemas marinos profundos, nos hemos sumergido en la belleza y complejidad de la naturaleza.</p>
        <p>Hoy en día, estamos orgullosos de nuestros logros y del impacto que nuestra investigación ha tenido en la comunidad científica. Pero nuestra travesía está lejos de terminar. Continuamos empujando los límites del conocimiento y buscando respuestas a las preguntas más profundas que nos rodean.</p>
      </div>

      <div class="about-section">
        <h2>Our Mission</h2>
        <p>En nuestro núcleo, creemos que el conocimiento es una herramienta poderosa que puede transformar el mundo. Nuestra misión es avanzar en la comprensión científica y fomentar un sentido de asombro y curiosidad sobre el mundo natural.</p>
        <p>Estamos comprometidos con la excelencia en investigación, educación y divulgación. A través de nuestras colaboraciones con universidades, agencias gubernamentales y organizaciones de conservación, nos esforzamos por tener un impacto positivo en el medio ambiente y la sociedad en su conjunto.</p>
        <p>Nuestro sitio web sirve como plataforma para compartir nuestros hallazgos de investigación, recursos educativos y actualizaciones sobre nuestros últimos proyectos. Te invitamos a unirte a nosotros en esta jornada de descubrimiento y exploración. Juntos, podemos marcar la diferencia y dar forma a un futuro mejor para nuestro planeta.</p>
      </div>
    </div>
  </div>
{% endblock %}