{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <title>SciencesPath! | {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% block styles %}{% endblock %}
</head>
<body>
    <div class="wrapper">
        <!-- Header -->
        {% block header %}
        {% endblock %}

        <!-- Main Content -->
        <main>
            {% block content %}
            <!-- Aquí se reemplazará el contenido específico de cada página -->
            {% endblock %}
        </main>
    </div>
<!-- Footer -->
<footer>
    
    <div class="container2 container3">
        <div class="group-1">
            <div class="box">
                <p>Sciences<span>Path!</span></p>
                <p><small>sciences.paths@gmail.com</small></p>
            </div>
            <div class="box">
                <h4>Sígueme en:</h4>
                <a href="https://www.linkedin.com/in/pablo-gradolph-oliva-958791250/"><img src="{% static 'img/Linkedin.webp' %}" alt="Linkedin"/></a>
                <a href="https://github.com/PabloGradolph"><img src="{% static 'img/GitHub-Mark.png' %}" alt="GitHub"/></a>
            </div>
        </div>
        <div class="group-2">
            <small> © {{ current_year }} <b>Pablo Gradolph Oliva</b> - Todos los derechos reservados.</small>
        </div>  
    </div>
</footer>

</body>
</html>