{% extends 'Sciences/base.html' %}
{% load static %}

{% block title %}
    Documentos
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/documents.css' %}">
{% endblock %}

{% block header %}
    <header>
        <div class="header-container">
            <div class="logo">
                <a href="{% url 'home' %}" id="change" class="logo-btn">
                    <img src="{% static 'img/microscopio.png' %}" alt="Logo" class="logo-img">
                    SciencesPath!
                </a>
            </div>
            <nav>
                <a href="{% url 'profile' request.user %}">Mi Perfil</a>
                <a href="#comunity">Comunidad</a>
                <a href="#questions">Preguntas Frecuentes</a>
                {% if user.is_authenticated %}
                    <a href="{% url 'logout' %}">Cerrar Sesión</a>
                {% else %}
                    <a href="{% url 'login' %}">Iniciar Sesión</a>
                {% endif %}
            </nav>
        </div>
    </header>
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Documentos Grado en Ciencias</h1>
        <div class="card">
            <h4>Información General:</h4>
            <div class="card-content">
                <ul>
                    <li><a href="{% static 'docs/INFO/MEMORIA.pdf' %}" target="_blank">Memoria de Verificación del Título Grado en Ciencias.</a></li>
                    <li><a href="{% static 'docs/INFO/PlanEstudios.pdf' %}" target="_blank">Plan de Estudios</a></li>
                    <li><a href="{% static 'docs/INFO/Bases.pdf' %}" target="_blank">Bases de la Convocatoria de Movilidad Europeea 2024-2025.</a></li>
                    <li><a href="{% static 'docs/INFO/Admision.pdf' %}" target="_blank">Criterios de Amdisión al Máster en Formación de Profesorado.</a></li>
                    <li><a href="{% static 'docs/INFO/Presentacion.pdf' %}" target="_blank">Presentación Movilidad de Estudios 2024-2025.</a></li>
                    <li><a href="{% static 'docs/INFO/Cambio.pdf' %}" target="_blank">Solicitud Cambio de Universidad 4 Semestre 2023-2024.</a></li>
                    <li><a href="{% static 'docs/INFO/SolicitudIdiomas.pdf' %}" target="_blank">Solicitud de Convalidación de Idiomas.</a></li>
                    <li><a href="{% static 'docs/INFO/IDIOMAS_UAM.pdf' %}" target="_blank">Certificados de Idiomas Aceptados por la UAM.</a></li>
                    <li><a href="{% static 'docs/INFO/InformacionTutorPAT.pdf' %}" target="_blank">Información sobre el Tutor PAT UAM.</a></li>
                    <li><a href="{% static 'docs/INFO/Plan_de_Accion_Tutelar.pdf' %}" target="_blank">Plan de Acción Tutelar UAM.</a></li>
                </ul>
            </div>
        </div>
        <div class="card">
            <h4>Trabajo de Fin de Grado:</h4>
            <div class="card-content">
                <ul>
                    <li><a href="{% static 'docs/TFG/GuiaDocenteTFG.pdf' %}" target="_blank">Guia Docente Trabajo de Fin de Grado.</a></li>
                    <li><a href="{% static 'docs/TFG/Guia_elaboracion_TFG.pdf' %}" target="_blank">Guia de Elaboración del Trabajo de Fin de Grado.</a></li>
                    <li><a href="{% static 'docs/TFG/DIRECTRICES_TFG.pdf' %}" target="_blank">Directrices del Trabajo de Fin de Grado.</a></li>
                    <li><a href="{% static 'docs/TFG/Normativa_TFG_2022.pdf' %}" target="_blank">Normativa Trabajo de Fin de Grado.</a></li>
                    <li><a href="{% static 'docs/TFG/Presentacion_UAM_Ciencias_TFG_25_abril_2023.pdf' %}" target="_blank">Presentación TFG (abril 2023).</a></li>
                    <li><a href="{% static 'docs/TFG/Propuesta_TFG_Apellidos_nombre.pdf' %}" target="_blank">Solicitud de Propuesta de Trabajo de Fin de Grado.</a></li>
                    <li><a href="{% static 'docs/TFG/Solicitud_Anexo_TFG_TFM_UAM_CIENCIAS_FORM.pdf' %}" target="_blank">Solicitud Anexo Entidad Externa TFG</a></li>
                    <li><a href="{% static 'docs/TFG/CEI_Apellidos_alumno.pdf' %}" target="_blank">Solicitud de Evaluación por el Comité de Ética.</a></li>
                    <li><a href="{% static 'docs/TFG/CesionDerechosPropiedadIntelectualAsesoriaJuridica.pdf' %}" target="_blank">Documento de Cesión de Derechos de Propiedad Intelectual.</a></li>
                    <li><a href="{% static 'docs/TFG/AcuerdoConfidencialidad.pdf' %}" target="_blank">Acuerdo de Confidencialidad.</a></li>
                    <li><a href="{% static 'docs/TFG/FECHAS.pdf' %}" target="_blank">Fechas Convocatorias TFG 2023-2024.</a></li>
                    <li><a href="{% static 'docs/TFG/PROPUESTAS_TFG_CIENCIAS_07_07.pdf' %}" target="_blank">Propuestas TFG UAM curso 2023-2024.</a></li>
                </ul>
            </div>
        </div>
        <div class="card">
            <h4>Prácticas Externas:</h4>
            <div class="card-content">
                <ul>
                    <li><a href="{% static 'docs/PE/GuiaDocentePracticasExternas.pdf' %}" target="_blank">Guia Docente Prácticas Externas.</a></li>
                    <li><a href="{% static 'docs/PE/Tutorial_Inscripcion_Practicas_Externas.pdf' %}" target="_blank">Tutorial Inscripción SIGMA de Prácticas Externas.</a></li>
                    <li><a href="{% static 'docs/PE/Matricula-inscripcion_SIGMAPE.pdf' %}" target="_blank">Matrícula e Inscripción en SIGMA de Prácticas Externas.</a></li>
                    <li><a href="{% static 'docs/PE/Presentacion_PE.pdf' %}" target="_blank">Presentación PE (abril 2023).</a></li>
                    <li><a href="{% static 'docs/PE/Solicitud_Anexo.pdf' %}" target="_blank">Solicitud de Anexo para Prácticas Externas.</a></li>
                    <li><a href="{% static 'docs/PE/INFORME_TUTOR_ACADÉMICO_PE_GC.doc' %}" target="_blank">Informe del Tutor Académico PE.</a></li>
                    <li><a href="{% static 'docs/PE/INFORME_TUTOR_PROFESIONAL_PE_GC.doc' %}" target="_blank">Informe del Tutor Profesional PE.</a></li>
                    <li><a href="{% static 'docs/PE/MODELO_MEMORIA_ESTUDIANTE.PE_GC_definitivo.doc' %}" target="_blank">Memoria del Estudiante PE.</a></li>
                    <li><a href="{% static 'docs/PE/FECHAS.pdf' %}" target="_blank">Fechas Convocatorias PE 2023-2034.</a></li>
                </ul>
            </div>
        </div>
        <div class="card">
            <h4>Horarios:</h4>
            <div class="card-content">
                <ul>
                    <li><a href="{% static 'docs/Horarios/Horarios_CIENCIAS_2324.pdf' %}" target="_blank">Horarios Grado en Ciencias 2023-2024.</a></li>
                    <li><a href="{% static 'docs/Horarios/CalendarioAcademicoUAM.pdf' %}" target="_blank">Calendario Académico UAM 2023-2024.</a></li>
                    <li><a href="{% static 'docs/Horarios/CalendarioAcademicoUAB.pdf' %}" target="_blank">Calendario Académico UAB 2023-2024.</a></li>
                    <li><a href="{% static 'docs/Horarios/CalendarioAcademicoUC3M.pdf' %}" target="_blank">Calendario Académico UC3M 2023-2024.</a></li>
                    <li><a href="{% static 'docs/Horarios/EvaluacionOrdinariaEnero2023-24.GradoenCiencias.pdf' %}" target="_blank">Horarios Exámenes de Enero 2023-2024.</a></li>
                </ul>
            </div>
        </div>
        <div class="card">
            <h4>Tipologías de Asignaturas Optativas de 3 y 4 de los Grados de la UAM:</h4>
            <div class="card-content">
                <ul>
                    <li><a href="{% static 'docs/AsignaturasUAM/Biología_2022_23.pdf' %}" target="_blank">Biología.</a></li>
                    <li><a href="{% static 'docs/AsignaturasUAM/Bioquimica.pdf' %}" target="_blank">Bioquímica.</a></li>
                    <li><a href="{% static 'docs/AsignaturasUAM/CienciaTecnologiadelosAlimentos.pdf' %}" target="_blank">Ciencia y Tecnología de los Alimentos.</a></li>
                    <li><a href="{% static 'docs/AsignaturasUAM/CienciasAmbientales.pdf' %}" target="_blank">Ciencias Ambientales.</a></li>
                    <li><a href="{% static 'docs/AsignaturasUAM/Fisica.pdf' %}" target="_blank">Física.</a></li>
                    <li><a href="{% static 'docs/AsignaturasUAM/IngenieriaQuimica.pdf' %}" target="_blank">Ingeniería Quimica.</a></li>
                    <li><a href="{% static 'docs/AsignaturasUAM/Matematicas.pdf' %}" target="_blank">Matemáticas.</a></li>
                    <li><a href="{% static 'docs/AsignaturasUAM/NutricionHumanayDietetica.pdf' %}" target="_blank">Nutrición Humana y Dietética.</a></li>
                    <li><a href="{% static 'docs/AsignaturasUAM/Quimica.pdf' %}" target="_blank">Química.</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}