{% extends 'Sciences/base.html' %}
{% load static %}

{% block title %}
    Bienvenido a Ciencias
{% endblock %}

{% block content %}
    <section id="welcome">
        <div class="container">
            <h1>Bienvenido a Ciencias</h1>
            <p>¡Explora nuestro Grado compartido en Ciencias!</p>
            <p>En esta aplicación encontrarás toda la información necesaria acerca de nuestro grado, diferentes áreas de estudio, posibles itinerarios, menciones, asignaturas disponibles y mucho más.</p>
            <div class="btn-container">
                <a href="{% url 'main' %}" ><button class="btn-primary">Comenzar</button></a>
            </div>
        </div>
    </section>

    <section id="about">
        <div class="container">
            <div id="about-header">
                <h2>Esto es Sciences<span class="color-path">Path!</span></h2>
                <p>¡Este es mi sitio web! Soy un estudiante del Grado en Ciencias llamado Pablo Gradolph Oliva apasionado por las tecnologías y con ganas de compartir mi experiencia y ayudar al resto de alumnos de nuestro grado.</p>
            </div>
            <div class="about">
                <div id="history" class="expandable">
                    <h3>Mi Historia</h3>
                    <div class="full-description">
                        <p>Mi travesía comenzó hace casi 4 años cuando me cogieron para cursar este maravilloso grado universitario. Mis compañeros y yo nos enfrentábamos a un gran reto: Ser la Primera Promoción.</p>
                        <p>Ahora mismo me encuentro en el último curso y a lo largo de estos años nos han surgido diversas preguntas como: ¿Debo cambiarme de universidad?, ¿Qué asignaturas elijo? y muchas otras.</p>
                        <p>Esta es la razón por la que estoy desarrollando como Trabajo de Fin de Grado esta herramienta: Una aplicación web llamada SciencesPath que permita guiar a los alumnos que llegan nuevos durante su camino en la universidad.</p>
                    </div>
                </div>
                <div id="mission" class="expandable">
                    <h3>Mi Misión</h3>
                    <div class="mission-full-description">
                        <p>Mi principal misión es facilitar el camino a todos esos alumnos que llegan detrás de mi en sus años de universidad. </p>
                        <p>Para ello, aquí encontrarás información de todas las asignaturas que se pueden cursar, con sus planes de estudio y características principales </p>
                        <p>Encontrarás horarios, información de las distintas universidades, la posibilidad de contacar con otros estudiantes, entre otras muchas cosas. </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="information">
        <div class="container">
            <h2>Más Información</h2>
            <div class="universities">
                <div class="carta-1">
                    <h3>Universidad Autónoma de Madrid</h3>
                    <p>El grado en Ciencias forma profesionales de perfil científico multidisciplinar con habilidades transversales de comunicación y gestión de la ciencia. Esta titulación se cursa en tres universidades de prestigio (UAM, UAB y UC3M) y fomenta la responsabilidad de los estudiantes en la toma de decisiones sobre su propio itinerario formativo.</p>
                    <div class="btn-container">
                        <a href="https://www.uam.es/uam/ciencias" target="_blank"><button class="btn-primary">+ Info</button></a>
                    </div>
                </div>
                <div class="carta-2">
                    <h3>Universidad Autónoma de Barcelona</h3>
                    <p>Con el grado en Ciencias obtendrás una formación multidisciplinar e interdisciplinar en los diferentes campos de las ciencias desde el primer momento. Además, conocerás diferentes entornos ya que asistirás a clase en Barcelona y en Madrid: Es un proyecto de la Alianza 4 Universidades.</p>
                    <div class="btn-container">
                        <a href="https://www.uab.cat/web/estudiar/listado-de-grados/informacion-general/ciencias-uab/uam/uc3m-1216708258897.html?param1=1345806163631" target="_blank"><button class="btn-primary">+ Info</button></a>
                    </div>
                </div>
                <div class="carta-3">
                    <h3>Universidad Carlos III de Madrid</h3>
                    <p>Esta titulación, con un marcado carácter interdisciplinar, pretende formar profesionales capaces de ofrecer soluciones científicas para múltiples problemas del ámbito social, económico y empresarial que requieren de un conocimiento científico y técnico horizontal y multidisciplinar.</p>
                    <div class="btn-container">
                        <a href="https://www.uc3m.es/grado/ciencias" target="_blank"><button class="btn-primary">+ Info</button></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="{% static 'js/script.js' %}"></script>
{% endblock %}