{% extends 'Sciences/base.html' %}
{% load static %}

{% block title %}
    Bienvenido a Ciencias
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"/>
{% endblock %}

{% block header %}
    <header>
        <div class="header-container">
            <div class="logo">
                <a href="{% url 'home' %}" id="change" class="logo-btn">
                    <img src="{% static 'img/microscopio.png' %}" alt="Logo" class="logo-img">
                    SciencesPath!
                </a>
            </div>
            <nav>
                <a href="{% url 'main' %}">Comenzar</a>
                <a href="#About">Quiénes Somos</a>
                <a href="#information">Más Información</a>
                {% if user.is_authenticated %}
                    <a href="{% url 'logout' %}">Cerrar Sesión</a>
                {% else %}
                    <a href="{% url 'login' %}">Iniciar Sesión</a>
                {% endif %}
            </nav>
        </div>
    </header>
{% endblock %}

{% block content %}
    <div class="row">
        {% if messages %}
            {% for message in messages %}
                {% if forloop.last %}
                    <div class="{{ message.tags }}-alert alert-dismissible">
                        <span class="close-alert">&times;</span>
                        {{ message|safe|escape }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
    <section id="welcome">
        <div class="container">
            <h1>Bienvenido a Sciences<span style="color: #008037;">Path!</span></h1>
            <p>¡Explora nuestro Grado compartido en Ciencias!</p>
            <p>Un grado universitario compartido entre las universidades Autónoma de Madrid, Autónoma de Barcelona y Carlos III de Madrid.</p>
            <p>En esta aplicación encontrarás toda la información necesaria acerca de nuestro grado, asignaturas disponibles, horarios, herramientas que te ayudarán a llevar el grado y mucho más.</p>
            <div class="btn-container">
                <a href="{% url 'main' %}" ><button class="btn-primary">Comenzar</button></a>
            </div>
        </div>
    </section>

    <section class="AboutUs__section section" id="About">
        <h1 class="section__title">🏠 ¿Quiénes somos?</h1>
        <div class="container section__border">
            <div class="about-wrapper">
                <div class="about">
                    <div class="cards">
                        <div class="card">
                            <i class="fa-solid fa-door-open"></i>
                            <h2>Bienvenidos a SciencesPath!</h2>
                            <p>Mi nombre es Pablo Gradolph Oliva y soy estudiante del Grado en Ciencias. Este es mi proyecto de TFG donde he fusionado mis habilidades de programación y desarrollo Web con mi especial interés en ayudar al resto de estudiantes de mi grado.</p>
                        </div>
                        <div class="card">
                            <i class="fa-brands fa-chromecast"></i>
                            <h2>Mi Misión</h2>
                            <p>En SciencesPath!, mi objetivo es que conozcas nuestro grado sino formas parte de él y proporcionarte toda la ayuda y herramientas útiles que se me han ocurrido si ya eres estudiante del grado.</p>
                        </div>
                        <div class="card">
                            <i class="fa-solid fa-layer-group"></i>
                            <h2>Lo que ofrecemos</h2>
                            <p>Esta aplicación está repleta de funcionalidades, información, enlaces de interés y herramientas interactivas para hacer tu viaje por el grado más fácil y disfrutable. Con un diseño intuitivo y funciones fáciles de usar, quiero que SciencesPath! sea tu compañero de confianza en el grado.</p>
                        </div>
                        <div class="card">
                            <i class="fa-solid fa-user-group"></i>
                            <h2>Únete a nuestra comunidad</h2>
                            <p>En SciencesPath!, creemos en el poder de la comunidad. Nos encantaría que compartieras tus experiencias, tus propios proyectos y tus consejos con nosotros. Juntos, podemos hacer de SciencesPath un lugar más útil para todos.</p>
                        </div>
                        <div class="card">
                            <i class="fa-solid fa-desktop"></i>
                            <h2>El camino continúa</h2>
                            <p>Aunque este proyecto marca el final de mi grado, es solo el comienzo de lo que espero que sea una larga y fructífera aventura. Estoy comprometido a mejorar y expandir SciencesPath!, siempre con el objetivo de enriquecer tu experiencia educativa.</p>
                        </div>
                        <div class="card">
                            <i class="fa-solid fa-camera"></i>
                            <h2>Gracias por visitarnos</h2>
                            <p>Estoy emocionado de tenerte como parte de nuestro viaje en SciencesPath!. Estoy ansioso de ver y conocer más sobre ti, tus proyectos y cómo llevas el grado. ¡Espero que disfrutes explorando, aprendiendo y, por supuesto, experimentando!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="information">
        <div class="container">
            <h2>Más Información</h2>
            <div class="universities">
                <div class="carta-1">
                    <h3>Universidad Autónoma de Madrid</h3>
                    <p>El grado en Ciencias forma profesionales de perfil científico multidisciplinar con habilidades transversales de comunicación y gestión de la ciencia. Esta titulación se cursa en tres universidades de prestigio (UAM, UAB y UC3M) y fomenta la responsabilidad de los estudiantes en la toma de decisiones sobre su propio itinerario formativo.</p>
                    <div class="btn-container">
                        <a href="https://www.uam.es/uam/ciencias" target="_blank"><button class="btn-primary">+ Info</button></a>
                    </div>
                </div>
                <div class="carta-2">
                    <h3>Universidad Autónoma de Barcelona</h3>
                    <p>Con el grado en Ciencias obtendrás una formación multidisciplinar e interdisciplinar en los diferentes campos de las ciencias desde el primer momento. Además, conocerás diferentes entornos ya que asistirás a clase en Barcelona y en Madrid: Es un proyecto de la Alianza 4 Universidades.</p>
                    <div class="btn-container">
                        <a href="https://www.uab.cat/web/estudiar/listado-de-grados/informacion-general/ciencias-uab/uam/uc3m-1216708258897.html?param1=1345806163631" target="_blank"><button class="btn-primary">+ Info</button></a>
                    </div>
                </div>
                <div class="carta-3">
                    <h3>Universidad Carlos III de Madrid</h3>
                    <p>Esta titulación, con un marcado carácter interdisciplinar, pretende formar profesionales capaces de ofrecer soluciones científicas para múltiples problemas del ámbito social, económico y empresarial que requieren de un conocimiento científico y técnico horizontal y multidisciplinar.</p>
                    <div class="btn-container">
                        <a href="https://www.uc3m.es/grado/ciencias" target="_blank"><button class="btn-primary">+ Info</button></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            document.querySelectorAll('.close-alert').forEach(function(closeButton) {
                closeButton.onclick = function() {
                    this.parentElement.style.display = 'none';
                };
            });
        });
    </script>
{% endblock %}