{% extends 'Sciences/base.html' %}
{% load static %}

{% block title %}
    Página Principal
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
{% endblock %}

{% block header %}
    <header>
        <div class="header-container">
            <div class="logo">
                <a href="{% url 'home' %}" id="change" class="logo-btn">
                    <img src="{% static 'img/microscopio.png' %}" alt="Logo" class="logo-img">
                    SciencesPath!
                </a>
            </div>
            <nav>
                <a href="{% url 'profile' request.user %}">Mi Perfil</a>
                <a href="#comunity">Comunidad</a>
                <a href="#questions">Preguntas Frecuentes</a>
                {% if user.is_authenticated %}
                    <a href="{% url 'logout' %}">Cerrar Sesión</a>
                {% else %}
                    <a href="{% url 'login' %}">Iniciar Sesión</a>
                {% endif %}
            </nav>
        </div>
    </header>
{% endblock %}

{% block content %}
    <section id="explore">
        <div class="container">
            <h1>Explora nuestro portal de información</h1>
            <div class="btn-container">
                <a href="{% url 'index' %}" target="_blank"><button class="btn-primary">Ver Información</button></a>
            </div>
        </div>
    </section>

    <section id="comunity">
        <div class="container">
            <div class="img-container"></div>
            <div class="text">
                <h2>Comunidad Sciences<span class="color-path">Path!</span></h2>
                <p>Sumérgete en la red de Sciences<span class="color-path">Path!</span></p>
                <p>Conecta con otros estudiantes apasionados de nuestro Grado en Ciencias, comparte ideas, información, conocimiento, haz preguntas o resuelve las de otros y forma parte de una comunidad en constante crecimiento.</p>
                <div class="btn-container">
                    <a href="{% url 'community_home' %}" target="_blank"><button class="btn-primary">Ver Comunidad</button></a>
                </div>
            </div>
        </div>
    </section>

    <section id="questions">
        <div class="container">
            <h1>Preguntas Frecuentes</h1>
            {% for faq in faqs %}
                <div class="faq">
                    <div class="question">
                        <h3>{{ faq.question|safe }}</h3>
                        <svg width="15" height="10" viewBox="0 0 42 25">
                            <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round"/>
                        </svg>
                    </div>
                    <div class="answer">
                        <p>{{ faq.answer|safe|linebreaksbr }}</p>
                    </div>
                </div>
            {% endfor %}
            <div class="portal">
                <h3>Accede a nuestros documentos</h3>
                <p>Encuentra la respuesta a muchas otras preguntas leyendo la información que estás buscando. Aquí encontrarás todos los documentos relevantes de nuestro grado clasificados en secciones.</p>
                <div class="btn-container">
                    <a href="{% url 'documents' %}" target="_blank"><button class="btn-primary">Ver Documentos</button></a>
                </div>
            </div>
        </div>
    </section>
    <script src="{% static 'js/faq.js' %}"></script>
{% endblock %}