{% extends 'Sciences/base.html' %}
{% load static %}
{% load humanize %}

{% block title %}
    Perfil de Usuario
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/social/profile.css' %}">
<link rel="stylesheet" type="text/css" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
<link href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/5.10.1/main.min.css' rel='stylesheet' />
<link href="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/5.10.1/main.min.js'></script>
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% endblock %}

{% block header %}
<header>
    <div class="header-container">
        <div class="logo">
            <a href="{% url 'home' %}" id="change" class="logo-btn">
                <img src="{% static 'img/microscopio.png' %}" alt="Logo" class="logo-img">
                SciencesPath!
            </a>
        </div>
        <nav>
            <a href="{% url 'profile' request.user %}">Mi Perfil</a>
            <a href="{% url 'community_home' %}">Comunidad</a>
            <a href="{% url 'index' %}">Asignaturas</a>
            {% if user.is_authenticated %}
                <a href="{% url 'logout' %}">Cerrar Sesión</a>
            {% else %}
                <a href="{% url 'login' %}">Iniciar Sesión</a>
            {% endif %}
        </nav>
    </div>
</header>
{% endblock %}

{% block content %}
<div class="container">
    <section class="seccion-perfil-usuario">
        <div class="perfil-usuario-header">
            <div class="perfil-usuario-portada">
                <div class="perfil-usuario-avatar">
                    <img src="{{ user.profile.image.url }}" alt="img-avatar">
                </div>
                {% if request.user.is_authenticated %}
                    {% if user.username != request.user.username %}
                        {% if user not in request.user.profile.following %}
                            <a href="{% url 'follow' user %}"><button type="button" class="boton-portada1">
                                <i class="far fa-solid fa-plus"></i> Seguir
                            </button></a> 
                        {% else %}
                            <a href="{% url 'unfollow' user %}"><button type="button" class="boton-portada3">
                                <i class="far fa-solid fa-minus"></i> Dejar de seguir
                            </button></a>
                        {% endif %}
                    {% else %}
                        {% if user.profile.is_student %}
                            <div id="myModal1" class="modal">
                                <!-- Modal content -->
                                <div class="modal-content">
                                    <span class="close1">&times;</span>
                                    <section>
                                        <h2>Selecciona tu Asignatura</h2>
                                        <!-- Campo de búsqueda -->
                                        <div class="search-section">
                                            <input type="text" id="searchInput" placeholder="Buscar por nombre o código..." autocomplete="off">
                                            <button id="addSubjectToDossierButton">Añadir al Expediente</button>
                                        </div>
                                        <div id="searchResults" class="search-results"></div>
                                    </section>
                                    
                                    <div class="add-extra-credits-section">
                                        <h3>Añadir Créditos Extracurriculares</h3>
                                        <input type="text" id="extraNameInput" placeholder="Nombre de actividad" autocomplete="off">
                                        <input type="number" id="extraCreditsInput" placeholder="Créditos" min="0.1" max="6" step="0.1">
                                        <button id="addExtraCreditsButton">Añadir</button>
                                    </div>

                                    <div class="expediente-info">
                                        <h3>Información del Expediente</h3>
                                        <p class="average_grade">Nota media: {{ average_grade }}</p>
                                        <p class="total_credits">Total de créditos matriculados: {{ total_credits }}</p>
                                        <p class="credits_achieved">Créditos superados: {{ credits_achieved }}</p>
                                        <p class="credits_remaining">Créditos por superar: {{ credits_remaining }}</p>
                                    </div>

                                    <table id="grades-table">
                                        <thead>
                                            <tr>
                                                <th>Asignatura</th>
                                                <th>Código</th>
                                                <th>Créditos</th>
                                                <th>Nota</th>
                                                <th>Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for subject_in_dossier in subjects_in_dossier %}
                                                <tr id="subject-row-{{ subject_in_dossier.id }}">
                                                    <td>{{ subject_in_dossier.subject.name }}</td>
                                                    <td>{{ subject_in_dossier.subject.subject_key }}</td>
                                                    <td>{{ subject_in_dossier.subject.credits }}</td>
                                                    {% if subject_in_dossier.grade == None %}
                                                        <td>N/A</td>
                                                    {% else %}
                                                        <td>{{ subject_in_dossier.grade }}</td>
                                                    {% endif %}
                                                    <td>
                                                        <button class="delete-subject-btn" data-subject-id="{{ subject_in_dossier.id }}">&times;</button>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            {% for extra_credit in extra_curricular_credits %}
                                                <tr id="extra-credit-row-{{ extra_credit.id }}">
                                                    <td>{{ extra_credit.name }}</td>
                                                    <td>-</td>
                                                    <td>{{ extra_credit.credits }}</td>
                                                    <td>N/A</td>
                                                    <td>
                                                        <button class="delete-extra-credit-btn" data-extra-credit-id="{{ extra_credit.id }}">&times;</button>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <button type="submit" id="myBtn1" class="boton-portada3">
                                <i class="far fa-regular fa-file"></i> Mi Expediente
                            </button>
                            <!-- The Modal -->
                            <div id="myModal2" class="modal">
                                <!-- Modal content -->
                                <div class="modal-content">
                                    <span class="close2">&times;</span>
                                    <section>
                                        <h2>Selecciona tu Asignatura</h2>
                                        <!-- Campo de búsqueda -->
                                        <div class="search-section">
                                            <input type="text" id="searchInput2" placeholder="Buscar por nombre o código..." autocomplete="off">
                                            <button id="addSubjectToCalendarButton">Añadir al Calendario</button>
                                        </div>
                                        <!-- Contenedor para resultados de búsqueda -->
                                        <div id="searchResults2" class="search-results"></div>
                                        <div class="subjects-container">
                                            <h3>Asignaturas seleccionadas</h3>
                                            <ul id="selected-subjects-list">
                                                {% for subject in user_subjects %}
                                                    <li id="subject-{{ subject.id }}">
                                                        {{ subject.name }} ({{subject.subject_key}})
                                                        <button class="remove-subject-btn" data-subject-id="{{ subject.id }}">&times;</button>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </section>
                                    <section>
                                        <div id='calendar' class="fc-calendar-container"></div>
                                    </section>
                                </div>
                            </div>
                            <button type="submit" id="myBtn2" class="boton-portada2">
                                <i class="far fa-regular fa-calendar-alt"></i> Mi Horario
                            </button>
                        {% endif %}
                        <a href="{% url 'edit' %}"><button type="button" class="boton-portada1">
                            <i class="far fa-image"></i> Editar Perfil
                        </button></a> 
                    {% endif %}

                {% endif %}

            </div>
        </div>
        <div class="perfil-usuario-body">
            <div class="perfil-usuario-bio">
                <h4 class="titulo">@{{ user.username }}</h4>
                {% if user.first_name %}<h5 class="titulo titulo2">{{ user.first_name }}{% if user.last_name %} {{ user.last_name }}{% endif %}</h5>{% endif %}
                <p class="texto">{{ user.profile.bio }}</p>
            </div>
            <div class="perfil-usuario-footer">
                <h3 class="titulo">Datos personales:</h3>
                <ul class="lista-datos">
                    <li><i class="icono fas fa-briefcase"></i> Estudiante del Grado en Ciencias:
                        {% if user.profile.is_student %}
                            SI.
                        {% else %}
                            NO.
                        {% endif %}
                    </li>
                    <li><i class="icono fas fa-map-signs"></i> Direccion: {{ user.profile.address|default:"No especificado" }}</li>
                    <li><i class="icono fas fa-phone-alt"></i> Telefono: {{ user.profile.phone_number|default:"No especificado" }}</li>
                    <li><i class="icono fas fa-solid fa-envelope"></i> Correo electrónico: {{ user.email }}</li>
                </ul>
                <ul class="lista-datos">
                    <li><i class="icono fas fa-calendar-alt"></i> Fecha de nacimiento: {{ user.profile.birth_date|date:"d/m/Y"|default:"No especificado" }}</li>
                    <li><i class="icono fas fa-solid fa-clock"></i>Se unió a SciencesPath! el: {{ user.date_joined|date:"d/m/Y" }}.</li>
                    <li><i class="icono fas fa-solid fa-user-plus"></i> Seguidores: {{ user.profile.followers.count }}.</li>
                    <li><i class="icono fas fa-user-check"></i> Seguidos: {{ user.profile.following.count }}.</li>
                    {% if user.profile.is_student %}
                    {% endif %}
                </ul>
            </div>
            {% if user.profile.is_student %}
                <div class="perfil-usuario-footer">
                    <h3 class="titulo">Datos universitarios:</h3>
                    <ul class="lista-datos">
                        <li><i class="icono fas fa-building"></i> Universidad: {{ user.profile.university|default:"No especificado" }}</li>
                        <li><i class="icono fas fa-regular fa-envelope"></i> Correo universitario: {{ user.profile.university_email|default:"No especificado" }}</li>
                    </ul>
                    <ul class="lista-datos">
                        <li><i class="icono fas fa-graduation-cap"></i> Curso: {{ user.profile.year|default:"No especificado" }}.</li>
                        <li><i class="icono fas fa-book"></i> Créditos superados: {{ credits_achieved }}.</li>
                    </ul>
                </div>
            {% endif %}
            <div class="redes-sociales">
                {% if user.profile.linkedin_url %}
                    <a href="{{ user.profile.linkedin_url }}" target="blank_" class="boton-redes linkedin fab fa-linkedin"><i class="icon-linkedin"></i></a>
                {% else %}
                    <a href="" class="boton-redes linkedin fab fa-linkedin"><i class="icon-linkedin"></i></a>
                {% endif %}
                {% if user.profile.twitter_url %}
                    <a href="{{ user.profile.twitter_url }}" target="blank_" class="boton-redes twitter fab fa-twitter"><i class="icon-twitter"></i></a>
                {% else %}
                    <a href="" class="boton-redes twitter fab fa-twitter"><i class="icon-twitter"></i></a>
                {% endif %}
                {% if user.profile.instagram_url %}
                    <a href="{{ user.profile.instagram_url }}" target="blank_" class="boton-redes instagram fab fa-instagram"><i class="icon-instagram"></i></a>
                {% else %}
                    <a href="" class="boton-redes instagram fab fa-instagram"><i class="icon-instagram"></i></a>
                {% endif %}
                
            </div>
        </div>
    </section>
<div class="container">
<script>
    var calendar;

    function getCSRFToken() {
        return document.querySelector('meta[name="csrf-token"]').getAttribute('content');
    }
    
    function addEventToDB(eventData) {
        fetch('/subjects/event/add/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': getCSRFToken() // Asegúrate de obtener el token CSRF correctamente
            },
            body: JSON.stringify(eventData)
        })
        .then(response => response.json())
        .then(data => {
            if (data.status === 'success') {
                eventData.id = data.event_id; // Actualiza el ID del evento con el ID de la base de datos
                calendar.addEvent(eventData);
            } else {
                console.error('Error al añadir evento');
            }
        })
        .catch(error => console.error('Error:', error));
    }

    function updateEventInDB(event) {
        const eventData = {
            id: event.id,
            title: event.title,
            start: event.start.toISOString(),
            end: event.end.toISOString(),
            allDay: event.allDay
        };

        fetch('/subjects/event/update/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': getCSRFToken() // Asegúrate de obtener el token CSRF correctamente
            },
            body: JSON.stringify(eventData)
        })
        .then(response => response.json())
        .then(data => {
            if (data.status === 'success') {
                console.log('Evento actualizado con éxito');
            } else {
                console.error('Error al actualizar evento');
            }
        })
        .catch(error => console.error('Error:', error));
    }

    function handleEventDrop(info) {
        // Actualiza el evento en la base de datos
        updateEventInDB(info.event);
    }

    function handleEventResize(info) {
        // Actualiza el evento en la base de datos
        updateEventInDB(info.event);
    }

    function handleDateSelect(selectInfo) {
        let title = prompt('Ingrese el título del evento:');
        let calendarApi = selectInfo.view.calendar;
    
        calendarApi.unselect(); // Limpia la selección del calendario
    
        if (title) {
            addEventToDB({
                title: title,
                start: selectInfo.startStr,
                end: selectInfo.endStr,
                allDay: selectInfo.allDay
            });
        }
    }

    function deleteEvent(eventId) {
        Swal.fire({
            title: '¿Estás seguro?',
            text: 'No podrás revertir esta acción',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Sí, eliminar'
        }).then((result) => {
            if (result.isConfirmed) {
                // Aquí añades tu lógica para eliminar el evento de la base de datos
                // Por ejemplo, haciendo una solicitud DELETE a tu backend
                fetch(`/subjects/event/delete/${eventId}`, {
                    method: 'DELETE',
                    headers: {
                        'X-CSRFToken': getCSRFToken(), // Asegúrate de enviar el token CSRF
                    }
                }).then(response => {
                    if (response.ok) {
                        // Si el evento se eliminó correctamente del backend, también lo eliminamos del calendario
                        calendar.getEventById(eventId).remove();
                        Swal.fire('Eliminado', 'El evento ha sido eliminado.', 'success');
                    } else {
                        Swal.fire('Error', 'No se pudo eliminar el evento.', 'error');
                    }
                });
            }
        });
    }

    function renderCalendar() {
        var calendarEl = document.getElementById('calendar');
        var events = {{ events_json|safe }};
        if (calendarEl && !calendar) {
            calendar = new FullCalendar.Calendar(calendarEl, {
                editable: true, // Permite arrastrar y soltar
                selectable: true, // Permite seleccionar rangos para crear eventos
                selectMirror: true,
                dayMaxEvents: true,
                
                // Manejadores de eventos
                eventDrop: handleEventDrop, // Se llama cuando un evento se mueve
                eventResize: handleEventResize, // Se llama cuando un evento se redimensiona
                select: handleDateSelect,
                locale: 'es',
                timeZone: 'local',
                initialView: 'timeGridWeek',
                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'timeGridDay,timeGridWeek,dayGridMonth'
                },
                buttonText: {
                    today: 'Hoy',
                    month: 'Mes',
                    week: 'Semana',
                    day: 'Día',
                },
                slotLabelFormat: {
                    hour: '2-digit',
                    minute: '2-digit',
                    omitZeroMinute: false,
                    hour12: false,
                },
                dayHeaderFormat: { weekday: 'short' },
                events: events,
                firstDay: 1,
                allDaySlot: false,
                slotMinTime: '07:00:00',
                slotMaxTime: '22:00:00',
                eventTextColor: '#fff',
                eventClick: function(info) {
                    
                    const eventId = info.event.id;
                    const startDate = new Date(info.event.start);
                    const endDate = new Date(info.event.end);
                    const startStr = startDate.getDate() + '/' + (startDate.getMonth() + 1) + '/' + startDate.getFullYear() + ' - ' + startDate.getHours() + ':' + (startDate.getMinutes() < 10 ? '0' : '') + startDate.getMinutes();
                    const endStr = endDate.getDate() + '/' + (endDate.getMonth() + 1) + '/' + endDate.getFullYear() + ' - ' + endDate.getHours() + ':' + (endDate.getMinutes() < 10 ? '0' : '') + endDate.getMinutes();

                    const eventDetails = `
                        <div>Información: ${info.event.title}</div>
                        <div>Inicio: ${startStr}</div>
                        <div>Fin: ${endStr}</div>
                        <div>Ubicación: ${info.event.extendedProps.location || 'Ubicación no especificada'}</div>`;

                    Swal.fire({
                        title: 'Detalles del Evento',
                        html: eventDetails,
                        showCancelButton: true,
                        confirmButtonText: 'Eliminar',
                        cancelButtonText: 'Cerrar',
                        preConfirm: () => {
                            deleteEvent(eventId);
                        }
                    });
                }
            });
        
            calendar.render();
        }
    }

    // Función para manejar la eliminación de una asignatura
    function removeSubjectAndEvents() {
        const subjectId = this.getAttribute('data-subject-id');
        const csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');

        fetch(`/remove-subject-from-schedule/${subjectId}/`, {
            method: 'POST',
            headers: {
                'X-CSRFToken': csrfToken,
                'Content-Type': 'application/json',
            },
        })
        .then(response => {
            if (response.ok) {
                // Elimina el elemento de la lista si la petición fue exitosa
                document.getElementById(`subject-${subjectId}`).remove();

                // Aquí eliminamos los eventos del calendario
                const eventsToRemove = calendar.getEvents().filter(event => event.extendedProps.subject == subjectId);
                eventsToRemove.forEach(event => event.remove());
            } else {
                Swal.fire('No se pudo eliminar la asignatura.');
            }
        })
        .catch(error => {
            console.error('Error:', error);
            Swal.fire('Error al eliminar la asignatura.');
        });
    }

    function addSubjectToDossier(selectedSubjectId, subjectName, subjectCode, subjectGrade, searchInput) {
        fetch(`/subjects/add-subject-to-dossier/`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-Requested-With': 'XMLHttpRequest',
                'X-CSRFToken': getCSRFToken(),
            },
            body: JSON.stringify({
                subject_id: selectedSubjectId,
                grade: subjectGrade
            })
        })
        .then(response => {
            if (response.ok) {
                return response.json();
            } else {
                return response.json().then(errorData => Promise.reject(errorData));
            }
        })
        .then(data => {
            // Añadir los detalles al expediente en la tabla del front-end
            const gradesTableBody = document.getElementById('grades-table').querySelector('tbody');
            const newRow = gradesTableBody.insertRow();
            
            newRow.id = `subject-row-${data.subject_in_dossier_id}`;
            newRow.innerHTML = `
                <td>${subjectName}</td>
                <td>${subjectCode}</td>
                <td>${data.credits}</td>
                <td>${subjectGrade}</td>
                <td><button class="delete-subject-btn" data-subject-id="${data.subject_in_dossier_id}">&times;</button></td>
            `;
            
            // Actualiza los valores en la sección de información del expediente
            document.querySelector('.expediente-info .average_grade').textContent = `Nota media: ${data.average_grade}`;
            document.querySelector('.expediente-info .total_credits').textContent = `Total de créditos matriculados: ${data.total_credits}`;
            document.querySelector('.expediente-info .credits_achieved').textContent = `Créditos superados: ${data.credits_achieved}`;
            document.querySelector('.expediente-info .credits_remaining').textContent = `Créditos por superar: ${data.credits_remaining}`;

            // Limpia el input y los atributos relacionados
            searchInput.value = '';
            searchInput.removeAttribute('data-selected-id');
            searchInput.removeAttribute('data-name');
            searchInput.removeAttribute('data-code');
            searchResults.innerHTML = '';
            
            Swal.fire('Asignatura añadida con éxito al expediente.');
        })
        .catch(errorData => {
            console.error('Error:', errorData);
            Swal.fire('Error', errorData.error, 'error');
        });
    }

    function removeSubjectFromDossier(subjectId, button) {
        // Confirmación antes de borrar
        Swal.fire({
            title: '¿Estás seguro?',
            text: 'No podrás revertir esto!',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Sí, bórralo!'
        }).then((result) => {
            if (result.isConfirmed) {
                // Llamar a la API para borrar la asignatura
                fetch(`/subjects/delete-subject-from-dossier/${subjectId}`, {
                    method: 'DELETE',
                    headers: {
                        'X-CSRFToken': getCSRFToken(),
                    },
                })
                .then(response => {
                    if (response.ok) {
                        return response.json();
                    } else {
                        return response.json().then(errorData => Promise.reject(errorData));
                    }
                })
                .then(data => {
                    // Eliminar la fila de la tabla
                    document.getElementById(`subject-row-${subjectId}`).remove();
                    document.querySelector('.expediente-info .average_grade').textContent = `Nota media: ${data.average_grade}`;
                    document.querySelector('.expediente-info .total_credits').textContent = `Total de créditos matriculados: ${data.total_credits}`;
                    document.querySelector('.expediente-info .credits_achieved').textContent = `Créditos superados: ${data.credits_achieved}`;
                    document.querySelector('.expediente-info .credits_remaining').textContent = `Créditos por superar: ${data.credits_remaining}`;

                    Swal.fire('Eliminado!', 'La asignatura ha sido borrada.', 'success');
                })
                .catch(errorData => {
                    console.error('Error:', errorData);
                    Swal.fire('Error', errorData.error, 'error');
                });
            }
        });
    }

    function setupDeleteExtraCreditButtons() {
        document.querySelectorAll('.delete-extra-credit-btn').forEach(button => {
            button.addEventListener('click', function() {
                const extraCreditId = this.getAttribute('data-extra-credit-id');
                Swal.fire({
                    title: '¿Estás seguro?',
                    text: "No podrás revertir esto!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Sí, bórralo!'
                }).then((result) => {
                    if (result.isConfirmed) {
                        fetch(`/subjects/delete-extra-credit/${extraCreditId}/`, {
                            method: 'DELETE',
                            headers: {
                                'X-CSRFToken': getCSRFToken(),
                            },
                        })
                        .then(response => response.ok ? response.json() : Promise.reject(response))
                        .then(data => {
                            document.getElementById(`extra-credit-row-${extraCreditId}`).remove();
                            Swal.fire('Eliminado!', data.message, 'success');
                            document.querySelector('.expediente-info .average_grade').textContent = `Nota media: ${data.average_grade}`;
                            document.querySelector('.expediente-info .total_credits').textContent = `Total de créditos matriculados: ${data.total_credits}`;
                            document.querySelector('.expediente-info .credits_achieved').textContent = `Créditos superados: ${data.credits_achieved}`;
                            document.querySelector('.expediente-info .credits_remaining').textContent = `Créditos por superar: ${data.credits_remaining}`;
                        })
                        .catch(error => {
                            console.error('Error:', error);
                            Swal.fire('Error', 'No se pudo eliminar el crédito extracurricular.', 'error');
                        });
                    }
                });
            });
        });
    }
    
    // Get the modal
    var modal1 = document.getElementById("myModal1");
    var btn1 = document.getElementById("myBtn1");
    var span1 = document.getElementsByClassName("close1")[0];
    
    // When the user clicks the button, open the modal 
    btn1.onclick = function() {
        modal1.style.display = "block";
    }
    
    // When the user clicks on <span> (x), close the modal
    span1.onclick = function() {
        modal1.style.display = "none";
    }

    // Get the second modal
    var modal2 = document.getElementById("myModal2");
    var btn2 = document.getElementById("myBtn2");
    var span2 = document.getElementsByClassName("close2")[0];
    
    // When the user clicks the button, open the modal 
    btn2.onclick = function() {
        modal2.style.display = "block";
        renderCalendar();
    }
    
    // When the user clicks on <span> (x), close the modal
    span2.onclick = function() {
        modal2.style.display = "none";
    }
    
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal1) {
            modal1.style.display = "none";
        } else if (event.target == modal2) {
            modal2.style.display = "none";
        }
    }

    document.addEventListener('DOMContentLoaded', function() {
        setupDeleteExtraCreditButtons();
        const searchInput = document.getElementById('searchInput');
        const searchInput2 = document.getElementById('searchInput2');
        const searchResults = document.getElementById('searchResults');
        const searchResults2 = document.getElementById('searchResults2');
        const searchUrl = "{% url 'search_subjects' %}";
        const addSubjectToCalendarButton = document.getElementById('addSubjectToCalendarButton');
        const addSubjectToDossierButton = document.getElementById('addSubjectToDossierButton');
        const addExtraCreditsButton = document.getElementById('addExtraCreditsButton');
    
        searchInput.addEventListener('input', function() {
            const query = this.value;
    
            if(query.length > 0) {
                fetch(searchUrl + `?search_query=${query}`)
                .then(response => response.json())
                .then(data => {
                    searchResults.innerHTML = ''; // Limpiar resultados anteriores
                    data.subjects.forEach(asignatura => {
                        const resultDiv = document.createElement('div');
                        resultDiv.classList.add('search-result-item');
                        resultDiv.textContent = `${asignatura.name} (${asignatura.subject_key}) - ${asignatura.degree__name}`;
                        resultDiv.setAttribute('data-id', asignatura.id);
                        searchResults.appendChild(resultDiv);
    
                        // Evento de clic para cada resultado
                        resultDiv.addEventListener('click', function() {
                            const subjectId = this.getAttribute('data-id');
                            const subjectDetails = this.textContent.split('(');
                            const subjectName = subjectDetails[0].trim();
                            const subjectCode = subjectDetails[1].slice(0, -1);
                        
                            searchInput.value = `${subjectName} (${subjectCode})`;
                            searchInput.setAttribute('data-selected-id', subjectId);
                            searchInput.setAttribute('data-name', subjectName);
                            searchInput.setAttribute('data-code', subjectCode);
                            searchResults.innerHTML = '';
                        });
                    });
                })
                .catch(error => console.error('Error:', error));
            } else {
                searchResults.innerHTML = '';
            }
        });

        searchInput2.addEventListener('input', function() {
            const query = this.value;
    
            if(query.length > 0) {
                fetch(searchUrl + `?search_query=${query}`)
                .then(response => response.json())
                .then(data => {
                    searchResults2.innerHTML = ''; // Limpiar resultados anteriores
                    data.subjects.forEach(asignatura => {
                        const resultDiv = document.createElement('div');
                        resultDiv.classList.add('search-result-item');
                        resultDiv.textContent = `${asignatura.name} (${asignatura.subject_key}) - ${asignatura.degree__name}`;
                        resultDiv.setAttribute('data-id', asignatura.id);
                        searchResults2.appendChild(resultDiv);
    
                        // Evento de clic para cada resultado
                        resultDiv.addEventListener('click', function() {
                            const subjectId = this.getAttribute('data-id');
                            const subjectDetails = this.textContent.split('(');
                            const subjectName = subjectDetails[0].trim();
                            const subjectCode = subjectDetails[1].slice(0, -1);
                        
                            searchInput2.value = `${subjectName} (${subjectCode})`;
                            searchInput2.setAttribute('data-selected-id', subjectId);
                            searchInput2.setAttribute('data-name', subjectName);
                            searchInput2.setAttribute('data-code', subjectCode);
                            searchResults2.innerHTML = '';
                        });
                    });
                })
                .catch(error => console.error('Error:', error));
            } else {
                searchResults2.innerHTML = '';
            }
        });

        addSubjectToCalendarButton.addEventListener('click', function() {
            const selectedSubjectId = searchInput2.getAttribute('data-selected-id');
            const subjectName = searchInput2.getAttribute('data-name');
            const subjectCode = searchInput2.getAttribute('data-code');
    
            if (!selectedSubjectId) {
                Swal.fire('Por favor, selecciona una asignatura.');
                return;
            }

            // Llamar a tu endpoint con la ID de la asignatura para obtener el horario
            fetch(`/subjects/parse-ics/${selectedSubjectId}/`, {
                headers: {
                    'X-Requested-With': 'XMLHttpRequest',
                },
            })
            .then(response => {
                if (!response.ok) {
                    throw response;
                }
                return response.json();
            })
            .then(data => {
                if (data && data.events && Array.isArray(data.events)) {
                    data.events.forEach(eventData => {
                        calendar.addEvent(eventData);
                    });

                    // Añadir la asignatura al DOM
                    const subjectsList = document.getElementById('selected-subjects-list');
                    const newSubjectLi = document.createElement('li');
                    newSubjectLi.id = `subject-${selectedSubjectId}`;
                    newSubjectLi.innerHTML = `
                        ${subjectName} (${subjectCode})
                        <button class="remove-subject-btn" data-subject-id="${selectedSubjectId}">&times;</button>`;

                    // Añadir el nuevo 'li' al 'ul'
                    subjectsList.appendChild(newSubjectLi);
                    
                    // Agrega el evento click al botón de eliminar recién creado
                    newSubjectLi.querySelector('.remove-subject-btn').addEventListener('click', removeSubjectAndEvents);
                    
                    Swal.fire('Asignatura añadida con éxito.');
                    // Limpia el input y el atributo data-selected-id
                    searchInput2.value = '';
                    searchInput2.removeAttribute('data-selected-id');
                    // Limpia los resultados de búsqueda si es necesario
                    searchResults2.innerHTML = '';
                }
            })
            .catch(error => {
                if (error.status === 404) {
                    Swal.fire('Horario no encontrado para la asignatura seleccionada.');
                    // Limpia el input y el atributo data-selected-id
                    searchInput2.value = '';
                    searchInput2.removeAttribute('data-selected-id');
                    // Limpia los resultados de búsqueda si es necesario
                    searchResults2.innerHTML = '';
                } else if (error.status === 400) {
                    Swal.fire('El usuario ya tiene esta asignatura en su horario.');
                    // Limpia el input y el atributo data-selected-id
                    searchInput2.value = '';
                    searchInput2.removeAttribute('data-selected-id');
                    // Limpia los resultados de búsqueda si es necesario
                    searchResults2.innerHTML = '';
                }
                else {
                    console.error('Error al añadir asignatura al calendario:', error);
                    Swal.fire('Error al añadir asignatura al calendario.');
                    // Limpia el input y el atributo data-selected-id
                    searchInput2.value = '';
                    searchInput2.removeAttribute('data-selected-id');
                    // Limpia los resultados de búsqueda si es necesario
                    searchResults2.innerHTML = '';
                }
            });
        });

        addSubjectToDossierButton.addEventListener('click', function() {
            const selectedSubjectId = searchInput.getAttribute('data-selected-id');
            const subjectName = searchInput.getAttribute('data-name');
            const subjectCode = searchInput.getAttribute('data-code');
    
            if (!selectedSubjectId) {
                Swal.fire('Por favor, selecciona una asignatura.');
                return;
            }

            Swal.fire({
                title: '¿La asignatura ha sido superada?',
                showDenyButton: true,
                confirmButtonText: 'Sí',
                denyButtonText: `No`,
            }).then((result) => {
                if (result.isConfirmed) {
                    const subjectGrade = prompt('Ingresa la nota de la asignatura:');
                    if (subjectGrade !== null && subjectGrade !== '') {
                        addSubjectToDossier(selectedSubjectId, subjectName, subjectCode, subjectGrade, searchInput);
                    } else {
                        Swal.fire('Necesitas proporcionar una nota para la asignatura.');
                    }
                } else if (result.isDenied) {
                    addSubjectToDossier(selectedSubjectId, subjectName, subjectCode, 'N/A', searchInput);
                }
            });
        });

        const gradesTable = document.getElementById('grades-table');
        gradesTable.addEventListener('click', function(event) {
            const target = event.target;
    
            // Verifica si el elemento clicado es un botón de eliminar
            if (target.classList.contains('delete-subject-btn')) {
                const subjectInDossierId = target.getAttribute('data-subject-id');
                removeSubjectFromDossier(subjectInDossierId, target);
            }
        });

        addExtraCreditsButton.addEventListener('click', function() {
            const extraName = document.getElementById('extraNameInput').value.trim();
            const extraCredits = parseFloat(document.getElementById('extraCreditsInput').value);
    
            if (!extraName || isNaN(extraCredits) || extraCredits <= 0 || extraCredits > 6) {
                Swal.fire('Error', 'Por favor, proporciona un nombre válido y un número de créditos entre 0.1 y 6.', 'error');
                return;
            }
    
            fetch('/subjects/add-extra-credits/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': getCSRFToken(), // Asegúrate de tener esta función para obtener el token CSRF
                },
                body: JSON.stringify({
                    name: extraName,
                    credits: extraCredits
                })
            })
            .then(response => {
                if (response.ok) {
                    return response.json();
                } else {
                    return response.json().then(errorData => Promise.reject(errorData));
                }
            })
            .then(data => {
                Swal.fire('¡Éxito!', 'Créditos extracurriculares añadidos con éxito.', 'success');
    
                // Limpia los campos del formulario
                document.getElementById('extraNameInput').value = '';
                document.getElementById('extraCreditsInput').value = '';
    
                const gradesTableBody = document.getElementById('grades-table').querySelector('tbody');
                const newRow = gradesTableBody.insertRow();
                
                newRow.id = `extra-credit-row-${data.new_extra_credits_id}`;
                newRow.innerHTML = `
                    <td>${extraName}</td>
                    <td>-</td>
                    <td>${extraCredits}</td>
                    <td>N/A</td>
                    <td><button class="delete-extra-credit-btn" data-extra-credit-id="${data.new_extra_credits_id}">&times;</button></td>
                `;
                setupDeleteExtraCreditButtons();
                document.querySelector('.expediente-info .average_grade').textContent = `Nota media: ${data.average_grade}`;
                document.querySelector('.expediente-info .total_credits').textContent = `Total de créditos matriculados: ${data.total_credits}`;
                document.querySelector('.expediente-info .credits_achieved').textContent = `Créditos superados: ${data.credits_achieved}`;
                document.querySelector('.expediente-info .credits_remaining').textContent = `Créditos por superar: ${data.credits_remaining}`;
            })
            .catch(errorData => {
                console.error('Error:', errorData);
                Swal.fire('Error', errorData.error || 'Se produjo un error al realizar la solicitud.', 'error');
            });
        });
    });

    document.querySelectorAll('.remove-subject-btn').forEach(button => {
        button.addEventListener('click', removeSubjectAndEvents);
    });
</script>
{% endblock %}