{% extends 'Sciences/base.html' %}
{% load static %}
{% load humanize %}

{% block title %}
    Perfil de Usuario
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/social/profile.css' %}">
<link rel="stylesheet" type="text/css" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
<link href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/5.10.1/main.min.css' rel='stylesheet' />
<link href="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/5.10.1/main.min.js'></script>
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.js"></script>
{% endblock %}

{% block header %}
<header>
    <div class="header-container">
        <div class="logo">
            <a href="{% url 'home' %}" id="change" class="logo-btn">
                <img src="{% static 'img/microscopio.png' %}" alt="Logo" class="logo-img">
                SciencesPath!
            </a>
        </div>
        <nav>
            <a href="{% url 'profile' request.user %}">Mi Perfil</a>
            <a href="#comunity">Comunidad</a>
            <a href="#questions">Preguntas Frecuentes</a>
            {% if user.is_authenticated %}
                <a href="{% url 'logout' %}">Cerrar Sesión</a>
            {% else %}
                <a href="{% url 'login' %}">Iniciar Sesión</a>
            {% endif %}
        </nav>
    </div>
</header>
{% endblock %}

{% block content %}
<div class="container">
    <section class="seccion-perfil-usuario">
        <div class="perfil-usuario-header">
            <div class="perfil-usuario-portada">
                <div class="perfil-usuario-avatar">
                    <img src="{{ user.profile.image.url }}" alt="img-avatar">
                </div>
                {% if request.user.is_authenticated %}
                    {% if user.username != request.user.username %}
                        {% if user not in request.user.profile.following %}
                            <a href="{% url 'follow' user %}"><button type="button" class="boton-portada1">
                                <i class="far fa-solid fa-plus"></i> Seguir
                            </button></a> 
                        {% else %}
                            <a href="{% url 'unfollow' user %}"><button type="button" class="boton-portada3">
                                <i class="far fa-solid fa-minus"></i> Dejar de seguir
                            </button></a>
                        {% endif %}
                    {% else %}
                        {% if user.profile.is_student %}
                            <div id="myModal1" class="modal">
                                <!-- Modal content -->
                                <div class="modal-content">
                                    <span class="close1">&times;</span>
                                    <h2>Mi Expediente</h2>
                                </div>
                            </div>
                            <button type="submit" id="myBtn1" class="boton-portada3">
                                <i class="far fa-regular fa-file"></i> Mi Expediente
                            </button>
                            <!-- The Modal -->
                            <div id="myModal2" class="modal">
                                <!-- Modal content -->
                                <div class="modal-content">
                                    <span class="close2">&times;</span>
                                    <h2>Mi Horario</h2>
                                    <section>
                                        <h3>Selecciona tu Asignatura</h3>
                                        <!-- Campo de búsqueda -->
                                        <input type="text" id="searchInput" placeholder="Buscar por nombre o código...">
                                        <button id="addSubjectToCalendarButton">Añadir al Calendario</button>
                                        <!-- Contenedor para resultados de búsqueda -->
                                        <div id="searchResults" class="search-results"></div>
                                    </section>
                                    <section>
                                        <div id='calendar' class="fc-calendar-container"></div>
                                    </section>
                                </div>
                            </div>
                            <button type="submit" id="myBtn2" class="boton-portada2">
                                <i class="far fa-regular fa-calendar-alt"></i> Mi Horario
                            </button>
                        {% endif %}
                        <a href="{% url 'edit' %}"><button type="button" class="boton-portada1">
                            <i class="far fa-image"></i> Editar Perfil
                        </button></a> 
                    {% endif %}

                {% endif %}

            </div>
        </div>
        <div class="perfil-usuario-body">
            <div class="perfil-usuario-bio">
                <h4 class="titulo">@{{ user.username }}</h4>
                {% if user.first_name %}<h5 class="titulo titulo2">{{ user.first_name }}{% if user.last_name %} {{ user.last_name }}{% endif %}</h5>{% endif %}
                <p class="texto">{{ user.profile.bio }}</p>
            </div>
            <div class="perfil-usuario-footer">
                <h3 class="titulo">Datos personales:</h3>
                <ul class="lista-datos">
                    <li><i class="icono fas fa-briefcase"></i> Estudiante del Grado en Ciencias:
                        {% if user.profile.is_student %}
                            SI.
                        {% else %}
                            NO.
                        {% endif %}
                    </li>
                    <li><i class="icono fas fa-map-signs"></i> Direccion: {{ user.profile.address|default:"No especificado" }}</li>
                    <li><i class="icono fas fa-phone-alt"></i> Telefono: {{ user.profile.phone_number|default:"No especificado" }}</li>
                    <li><i class="icono fas fa-solid fa-envelope"></i> Correo electrónico: {{ user.email }}</li>
                </ul>
                <ul class="lista-datos">
                    <li><i class="icono fas fa-calendar-alt"></i> Fecha de nacimiento: {{ user.profile.birth_date|date:"d/m/Y"|default:"No especificado" }}</li>
                    <li><i class="icono fas fa-solid fa-clock"></i>Se unió a SciencesPath! el: {{ user.date_joined|date:"d/m/Y" }}.</li>
                    <li><i class="icono fas fa-solid fa-user-plus"></i> Seguidores: {{ user.profile.followers.count }}.</li>
                    <li><i class="icono fas fa-user-check"></i> Seguidos: {{ user.profile.following.count }}.</li>
                    {% if user.profile.is_student %}
                    {% endif %}
                </ul>
            </div>
            {% if user.profile.is_student %}
                <div class="perfil-usuario-footer">
                    <h3 class="titulo">Datos universitarios:</h3>
                    <ul class="lista-datos">
                        <li><i class="icono fas fa-building"></i> Universidad: {{ user.profile.university|default:"No especificado" }}</li>
                        <li><i class="icono fas fa-regular fa-envelope"></i> Correo universitario: {{ user.profile.university_email|default:"No especificado" }}</li>
                    </ul>
                    <ul class="lista-datos">
                        <li><i class="icono fas fa-graduation-cap"></i> Curso: {{ user.profile.year|default:"No especificado" }}.</li>
                        <li><i class="icono fas fa-book"></i> Créditos superados: {{ user.profile.credits_passed }}.</li>
                    </ul>
                </div>
            {% endif %}
            <div class="redes-sociales">
                {% if user.profile.facebook_url %}
                    <a href="{{ user.profile.facebook_url }}" target="blank_" class="boton-redes facebook fab fa-facebook-f"><i class="icon-facebook"></i></a>
                {% else %}
                    <a href="" class="boton-redes facebook fab fa-facebook-f"><i class="icon-facebook"></i></a>
                {% endif %}
                {% if user.profile.twitter_url %}
                    <a href="{{ user.profile.twitter_url }}" target="blank_" class="boton-redes twitter fab fa-twitter"><i class="icon-twitter"></i></a>
                {% else %}
                    <a href="" class="boton-redes twitter fab fa-twitter"><i class="icon-twitter"></i></a>
                {% endif %}
                {% if user.profile.instagram_url %}
                    <a href="{{ user.profile.instagram_url }}" target="blank_" class="boton-redes instagram fab fa-instagram"><i class="icon-instagram"></i></a>
                {% else %}
                    <a href="" class="boton-redes instagram fab fa-instagram"><i class="icon-instagram"></i></a>
                {% endif %}
                
            </div>
        </div>
    </section>
<div class="container">
<script>
    var calendar;

    function renderCalendar() {
        var calendarEl = document.getElementById('calendar');
        // var events = {{ events_json|safe }};
        if (calendarEl && !calendar) {
            calendar = new FullCalendar.Calendar(calendarEl, {
                locale: 'es',
                timeZone: 'local',
                initialView: 'timeGridWeek',
                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'timeGridDay,timeGridWeek,dayGridMonth'
                },
                buttonText: {
                    today: 'Hoy',
                    month: 'Mes',
                    week: 'Semana',
                    day: 'Día',
                },
                slotLabelFormat: {
                    hour: '2-digit',
                    minute: '2-digit',
                    omitZeroMinute: false,
                    hour12: false,
                },
                dayHeaderFormat: { weekday: 'short' },
                firstDay: 1,
                editable: false,
                allDaySlot: false,
                slotMinTime: '07:00:00',
                slotMaxTime: '22:00:00',
                eventClick: function(info) {
                    
                    var startDate = new Date(info.event.start);
                    var endDate = new Date(info.event.end);
    
                    var startStr = startDate.getDate() + '/' + (startDate.getMonth() + 1) + '/' + startDate.getFullYear() + ' - ' + startDate.getHours() + ':' + (startDate.getMinutes() < 10 ? '0' : '') + startDate.getMinutes();
                    var endStr = endDate.getDate() + '/' + (endDate.getMonth() + 1) + '/' + endDate.getFullYear() + ' - ' + endDate.getHours() + ':' + (endDate.getMinutes() < 10 ? '0' : '') + endDate.getMinutes();
    
    
                    alert('Información: ' + info.event.title + '\n' +
                    'Inicio: ' + startStr + '\n' +
                    'Fin: ' + endStr + '\n' +
                    'Ubicación: ' + (info.event.extendedProps.location || 'Ubicación no especificada'));
                }
            });
        
            calendar.render();
        }
    }
    
    // Get the modal
    var modal1 = document.getElementById("myModal1");
    var btn1 = document.getElementById("myBtn1");
    var span1 = document.getElementsByClassName("close1")[0];
    
    // When the user clicks the button, open the modal 
    btn1.onclick = function() {
        modal1.style.display = "block";
    }
    
    // When the user clicks on <span> (x), close the modal
    span1.onclick = function() {
        modal1.style.display = "none";
    }

    // Get the second modal
    var modal2 = document.getElementById("myModal2");
    var btn2 = document.getElementById("myBtn2");
    var span2 = document.getElementsByClassName("close2")[0];
    
    // When the user clicks the button, open the modal 
    btn2.onclick = function() {
        modal2.style.display = "block";
        renderCalendar();
    }
    
    // When the user clicks on <span> (x), close the modal
    span2.onclick = function() {
        modal2.style.display = "none";
    }
    
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal1) {
            modal1.style.display = "none";
        } else if (event.target == modal2) {
            modal2.style.display = "none";
        }
    }

    document.addEventListener('DOMContentLoaded', function() {
        const searchInput = document.getElementById('searchInput');
        const searchResults = document.getElementById('searchResults');
        const searchUrl = "{% url 'search_subjects' %}";
        const addSubjectToCalendarButton = document.getElementById('addSubjectToCalendarButton');
    
        searchInput.addEventListener('input', function() {
            const query = this.value;
    
            if(query.length > 0) {
                fetch(searchUrl + `?search_query=${query}`)
                .then(response => response.json())
                .then(data => {
                    searchResults.innerHTML = ''; // Limpiar resultados anteriores
                    data.subjects.forEach(asignatura => {
                        const resultDiv = document.createElement('div');
                        resultDiv.classList.add('search-result-item');
                        resultDiv.textContent = `${asignatura.name} (${asignatura.subject_key})`;
                        resultDiv.setAttribute('data-id', asignatura.id);
                        searchResults.appendChild(resultDiv);
    
                        // Evento de clic para cada resultado
                        resultDiv.addEventListener('click', function() {
                            searchInput.value = this.textContent; // Actualiza la barra de búsqueda con el texto seleccionado
                            searchInput.setAttribute('data-selected-id', this.getAttribute('data-id'));
                            searchResults.innerHTML = ''; // Limpia los resultados de búsqueda
                        });
                    });
                })
                .catch(error => console.error('Error:', error));
            } else {
                searchResults.innerHTML = '';
            }
        });

        addSubjectToCalendarButton.addEventListener('click', function() {
            const selectedSubjectId = searchInput.getAttribute('data-selected-id');
    
            if (!selectedSubjectId) {
                alert('Por favor, selecciona una asignatura.');
                return;
            }
            
            renderCalendar();

            // Llamar a tu endpoint con la ID de la asignatura para obtener el horario
            fetch(`/subjects/parse-ics/${selectedSubjectId}/`) // Asegúrate de que la URL es correcta
            .then(response => response.json())
            .then(data => {
                if (data && data.events && Array.isArray(data.events)) {
                    data.events.forEach(eventData => {
                        console.log(eventData)
                        calendar.addEvent(eventData);
                    });
                }
            })
            .catch(error => {
                console.error('Error al añadir asignatura al calendario:', error);
                alert('Error al añadir asignatura al calendario.');
            });
        });
    });
</script>
{% endblock %}